
/* ======商品比较浮动块 ====== */
#compareBox { background:url(/themes/baian/images/comparebox.gif) #fff no-repeat;
 width:140px;
 position: absolute;
 right:1px;
 top:200px; padding-top:21px;
 z-index: 1000000;
}

#compareBox input {
    width:140px; height:26px;
    border:none;
    background:url(/themes/baian/images/compareSub.gif) no-repeat; 
}

#compareList {
 padding:0px;
 width:138px;
 background:#FFFFFF;
 border:1px solid #91b3cb; padding-top:5px; border-bottom-color:#FFF;
}

#compareList li {
 color: #333;
 text-align:left;
 background: #eff8ff;
 padding: 3px 5px;
 margin: 0 5px 5px 5px; border:1px solid #dceaf5;
}

#compareList li img {
 float:right;
 padding-top:4px;
}





.wp{width: 900px;margin: 0 auto;}

/*以下是需要的新式*/
#select{position: relative;}		
.more-ce{position: absolute;right: 50px;top:44px;}
.pz-ar{display: inline-block;position: relative;top: -2px;width: 7px;height: 4px;background: url(/themes/baian/images/pz-ar.png) no-repeat left top;margin: 0 0 0 3px;}
#select .pz-up .pz-ar{background-position: right top;}
#select-brand .pz-hide{height: 70px;overflow: hidden;}
#select-brand .pz-show{height: 70px;overflow: auto;}


