.qq_jiesuan, .qq_jiesuan_on {
position:relative;
cursor:pointer;
z-index:1000;
}
.qq_jiesuan .jiesuan_t {
position:absolute;
width:300px;
border:1px solid #e6e6e6;
top:30px;
right:0;
text-align:center;
color:#999;
display:none;
}
#settleup .qq_jiesuan_on dt{	background-position:0 -284px;}
.qq_jiesuan_on .jiesuan_t {
position:absolute;
width:268px;
border:1px solid #e6e6e6; border-top:none;
top:32px;
right:0;
text-align:center;
color:#999;
display:block;
background:url(../images/cart_top_line.png) #fff no-repeat left top;
z-index:2000;
}
.cart_info_div {
float: left;
font-size:12px;
width:260px;
height:94px;
overflow:hidden; margin-left:3px;
border-bottom:#ddd 1px dotted;
}
.cart_info_div a.img_l {
float:left;
display:block;
border:1px solid #e4e4e4;
margin:5px;
width:82px;
height:82px;
}
.cart_info_div .f_right {
width:160px;
float:right;
padding:5px 0px;
}
.cart_info_div .f_right p.name {
border:0;
height:36px;
line-height:40px;
overflow:hidden;
}
.cart_info_div .f_right p.name a {
text-align:left;
border:0;
color:#1f1f1f;
}
.cart_info_div .f_right p a {
color:#1f1f1f;
font-size:12px;
height:30px;
line-height:30px
}
.cart_info_div .f_right p.cheng {
color:#1f1f1f;
}
.cart_info_div .f_right p font {
color:#1f1f1f;
font-size:12px
}
.cart_info_div .f_right p {
line-height:20px;
height:16px;
overflow:hidden;
text-align:left;
}
.qq_jiesuan_on .jiesuan_t p.btm {
line-height:17px;
text-align:right;
color:#161616;
}
.qq_jiesuan_on .jiesuan_t p.btm font {
color:#C00;
font-weight:bold;
font-size:12px;
}
.blank5 {
height:5px;
line-height:5px;
overflow:hidden;
clear:both
}

.divJeepDiv
{
left: 0px;
top: 0px;
opacity: 0.1;
background: #000;
filter: alpha(opacity=10);
overflow: hidden;
position: absolute;
height: 100%;
width: 100%;
z-index: 1000;

}




#Js_tool{width:48px;position:fixed;bottom:120px;right:0;z-index:20000;}
#Js_tool ul,#Js_tool li{margin:0;padding:0;list-style:none;}
#Js_tool li{}
#Js_tool li a{display:block;background:url('/themes/baian/images/shader_kefu.png') no-repeat;text-indent:-999999em;width:48px;height:50px;transition:ease .5s all;-webkit-transition:ease .5s all;-moz-transition:ease .5s all;-ms-transition:ease .5s all;-o-transition:ease .5s all;}

#Js_tool li a.t_1{background-position:-62px -7px;}
#Js_tool li a.t_1:hover{background-position:-8px -7px;}

#Js_tool li a.t_2{background-position:-62px -58px;}
#Js_tool li a.t_2:hover{background-position:-8px -58px;}

#Js_tool li a.t_3{background-position:-62px -109px;}
#Js_tool li a.t_3:hover{background-position:-8px -109px;}

#Js_tool li a.t_4{background-position:-62px -160px;}
#Js_tool li a.t_4:hover{background-position:-8px -160px;}

#Js_tool li a.t_5{background-position:-62px -211px;}
#Js_tool li a.t_5:hover{background-position:-8px -211px;}

#Js_tool li a.t_6{background-position:-62px -262px;}
#Js_tool li a.t_6:hover{background-position:-8px -262px;}

#Js_tool li a.t_7{background-position:-62px -313px;}
#Js_tool li a.t_7:hover{background-position:-8px -313px;}

#Js_tool li a.t_8{background-position:-62px -364px;}
#Js_tool li a.t_8:hover{background-position:-8px -364px;}







#top {
	display:none;
	position:fixed;
	_position:absolute;
	bottom: 10px;
	right: 2px;
	width: 27px;
	height: 92px;
	background:url(themes/baian/images/top_bg.gif) no-repeat;
	cursor:pointer;
	z-index:9;
}
