.m_4 {float:left;border:solid 1px #e8d1bf;border-top:0;position:relative;width:740px;}
.m_4 .c {position:relative;margin:0 auto;width:988px;height:170px;overflow:hidden;}
.titbar_2 a.more {display: block;width:78px;height:26px;background: url(/themes/baian/images/ba_xianshimore.png) no-repeat;position: absolute;right:2px;}
.titbar_2 {position:relative;height:32px;line-height:32px;background: url(/baobao/templates/default/images/titbar_2.png) repeat-x;}
.titbar_2 img {height:32px;float:left;}
.titbar_2 .countdown_box {float:left;padding-left:15px;font-size: 24px;font-family: '微软雅黑';font-weight:700;color:#be0000;}
.titbar_2 .countdown_box span {font-family: '宋体';font-size: 13px;color:#fff;position: relative;top:-3px;padding:0 4px;}