RewriteEngine On
RewriteCond %{HTTP_HOST} ^4008048648\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.4008048648\.com$ [OR]
RewriteCond %{HTTP_HOST} ^123121\.com$
RewriteRule ^(.*)$ http://www.123121.com/$1 [L,R=301]
# direct one-word access
RewriteRule ^index\.html$ index\.php [L]
RewriteRule ^category$ index\.php [L]
# access any object by its numeric identifier
RewriteRule ^feed-c([0-9]+)\.xml$ feed\.php\?cat=$1 [L]
RewriteRule ^feed-b([0-9]+)\.xml$ feed\.php\?brand=$1 [L]
RewriteRule ^feed\.xml$ feed\.php [L]
RewriteRule ^category-([0-9]+)-b([^-]*)-min([0-9]+)-max([0-9]+)-attr([^-]*)-s([^-]*)-o([^-]*)-ext([^-]*)-p([0-9]+)(.*)\.html$ category\.php\?id=$1&brand=$2&price_min=$3&price_max=$4&filter_attr=$5&sort=$6&order=$7&filter_ext=$8&page=$9 [QSA,L]
RewriteRule ^category-([0-9]+)-b([^-]*)-min([0-9]+)-max([0-9]+)-attr([^-]*)-s([^-]*)-o([^-]*)-ext([^-]*)(.*)\.html$ category\.php\?id=$1&brand=$2&price_min=$3&price_max=$4&filter_attr=$5&sort=$6&order=$7&filter_ext=$8 [QSA,L]
RewriteRule ^category-([0-9]+)-b([^-]*)-min([0-9]+)-max([0-9]+)-attr([^-]*)-s([^-]*)-o([^-]*)-p([0-9]+)(.*)\.html$ category\.php\?id=$1&brand=$2&price_min=$3&price_max=$4&filter_attr=$5&sort=$6&order=$7&page=$8 [QSA,L]
RewriteRule ^category-([0-9]+)-b([^-]*)-min([0-9]+)-max([0-9]+)-attr([^-]*)-s([^-]*)-o([^-]*)(.*)\.html$ category\.php\?id=$1&brand=$2&price_min=$3&price_max=$4&filter_attr=$5&sort=$6&order=$7 [QSA,L]
#RewriteRule ^category-([0-9]+)-b([0-9]+)-min([0-9]+)-max([0-9]+)-attr([^-]*)(.*)\.html$ category\.php\?id=$1&brand=$2&price_min=$3&price_max=$4&filter_attr=$5 [QSA,L]
RewriteRule ^category-([0-9]+)-b([^-]*)-min([0-9]+)-max([0-9]+)-attr([^-]*)(.*)\.html$ category\.php\?id=$1&brand=$2&price_min=$3&price_max=$4&filter_attr=$5 [QSA,L]
RewriteRule ^category-([0-9]+)-b([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$ category\.php\?id=$1&brand=$2&page=$3&sort=$4&order=$5 [QSA,L]
RewriteRule ^category-([0-9]+)-b([0-9]+)-([0-9]+)(.*)\.html$ category\.php\?id=$1&brand=$2&page=$3 [QSA,L]
RewriteRule ^category-([0-9]+)-b([0-9]+)(.*)\.html$ category\.php\?id=$1&brand=$2 [QSA,L]
RewriteRule ^category-([0-9]+)(.*)\.html$ category\.php\?id=$1 [QSA,L]
RewriteRule ^category\.html$ category\.php [L]
RewriteRule ^goods-([0-9]+)-p([0-9]+)(.*)\.html$  goods\.php\?id=$1&product_id=$2 [QSA,L]
RewriteRule ^goods-([0-9]+)(.*)\.html$ goods\.php\?id=$1 [QSA,L]
RewriteRule ^article_cat-([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$ article_cat\.php\?id=$1&page=$2&sort=$3&order=$4 [QSA,L]
RewriteRule ^article_cat-([0-9]+)-([0-9]+)(.*)\.html$ article_cat\.php\?id=$1&page=$2 [QSA,L]
RewriteRule ^article_cat-([0-9]+)(.*)\.html$ article_cat\.php\?id=$1 [QSA,L]
RewriteRule ^article-([0-9]+)(.*)\.html$ article\.php\?id=$1 [QSA,L]
RewriteRule ^brand-([0-9]+)-c([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)\.html brand\.php\?id=$1&cat=$2&page=$3&sort=$4&order=$5 [QSA,L]
RewriteRule ^brand-([0-9]+)-c([0-9]+)-([0-9]+)(.*)\.html brand\.php\?id=$1&cat=$2&page=$3 [QSA,L]
RewriteRule ^brand-([0-9]+)-c([0-9]+)(.*)\.html brand\.php\?id=$1&cat=$2 [QSA,L]
RewriteRule ^brand-([0-9]+)(.*)\.html brand\.php\?id=$1 [QSA,L]
RewriteRule ^tag-(.*)\.html search\.php\?keywords=$1 [QSA,L]
RewriteRule ^snatch-([0-9]+)\.html$ snatch\.php\?id=$1 [QSA,L]
RewriteRule ^group_buy-([0-9]+)\.html$ group_buy\.php\?act=view&id=$1 [QSA,L]
RewriteRule ^auction-([0-9]+)\.html$ auction\.php\?act=view&id=$1 [QSA,L]
RewriteRule ^sales-([a-z]+)\.html$ sales\.php\?intro=$1 [QSA,L]
RewriteRule ^momsuit-([0-9]+)\.html$ momsuit\.php\?suit_id=$1 [QSA,L]
RewriteRule ^help\.html$ help\.php [L]
RewriteRule ^help-([0-9]+)\.html$ help\.php\?id=$1 [QSA,L]
RewriteRule ^brand\.html$ brand\.php [L]
RewriteRule ^catalog\.html$ catalog\.php [L]
RewriteRule ^link\.html$ link\.php [L]
RewriteRule ^promote-([0-9]+)(.*)\.html promote\.php\?page=$1 [QSA,L]
RewriteRule ^promote\.html$ promote\.php [L]