.searchbox {
	background-color:#b41700;
	position:relative;
	width:100%;
	text-align:center;
	z-index:999999;
	pointer-events:auto;
	-webkit-box-shadow:1px 2px 5px rgba(0, 0, 0, .5);
	-moz-box-shadow:1px 2px 5px rgba(0, 0, 0, .5);
	-ms-box-shadow:1px 2px 5px rgba(0, 0, 0, .5);
	-o-box-shadow:1px 2px 5px rgba(0, 0, 0, .5);
	box-shadow:1px 2px 5px rgba(0, 0, 0, .5)
}
.searchbox .sb-back {
	background:url(../img/index.png) no-repeat center center transparent;
	background-size:24px 19px;
	text-indent:-9999px;
	padding:0 3px 0 7px
}
.searchbox .sb-header {
	display:table;
	width:100%
}
.searchbox .sb-header>* {
	display:table-cell
}
.searchbox .sb-search {
	height:45px;
	vertical-align:middle
}
.searchbox form.sb-switchBtn {
	text-indent:-9999px;
	padding:0;
	width:35px; display:inline-block; margin:13px 0 0 0;
}
.searchbox form.sb-switchBtn a { display:block}
.searchbox .sb-switchBtn .sb-switchBtn-list {
	background:url(../img/sa-switchBtn.png) no-repeat 5px center transparent;
	background-size:20px 20px;
	opacity:1
}
.searchbox .sb-switchBtn .sb-switchBtn-album {
	background:url(../img/sb-switchBtn.png) no-repeat 5px center transparent;
	background-size:20px 20px
}
.searchbox .sb-switchBtn .sb-switchBtn-grid {
	background:url(../img/sc-switchBtn.png) no-repeat 5px center transparent;
	background-size:20px 20px
}
.searchbox .sb-cancelBtn-wrap {
	display:none;
	width:54px;
	line-height:45px
}
.searchbox .sb-cancelBtn-wrap.shown {
	display:table-cell
}
.searchbox .sb-cancelBtn {
	background:#c81c00;
	border:1px solid #910000;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 1px #fd1b1b;
	-moz-box-shadow:inset 0 1px 1px #fd1b1b;
	-ms-box-shadow:inset 0 1px 1px #fd1b1b;
	-o-box-shadow:inset 0 1px 1px #fd1b1b;
	box-shadow:inset 0 1px 1px #fd1b1b;
	height:20px;
	line-height:22px;
	padding:3px 7px 4px;
	margin:8px 5px;
	color:#fff;
	font-size:13px;
	text-decoration:none;
	letter-spacing:.1em;
	white-space:nowrap
}
.sb-search form.searchform {
	background:#fff;
	border-bottom:1px solid #d7d7d7;
	border-radius:20px;
	box-shadow:inset 0 2px 4px #a3a3a3;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	position:relative;
	display:inline-block;
	left:0;
	height:30px;
	width:97%;
	margin:0;
	padding-left:12px;
	padding-right:35px;
	font-size:13px;
	font-family:arail, \9ED1\4F53;
	line-height:23px
}
.searchbox label {
	display:none;
	position:absolute;
	left:15px;
	top:5px;
	line-height:1.5;
	pointer-events:none;
	white-space:nowrap;
	padding-right:52px;
	max-width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box
}
.searchbox input[type=text] {
	/*background-color:#ddd;*/
	border:0;
	border-right:1px solid #ddd;
	border-radius:0;
	position:relative;
	width:100%;
	padding:4px;
	margin:2px 0 0;
	color:#000;
	vertical-align:middle;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	z-index:1
}
.searchbox input[type=submit] {
	background:url(../img/list_small.png) no-repeat 6px 6px;
	background-size:17px;
	position:absolute;
	right:0;
	top:0;
	width:35px;
	height:100%;
	padding-top:1px;
	border:0;
	border-radius:0 20px 20px 0;
	color:transparent;
	cursor:pointer;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-ms-box-sizing:content-box;
	-o-box-sizing:content-box;
	box-sizing:content-box
}
.searchbox input[type=reset] {
	display:none;
	background:url() no-repeat center;
	background-size:16px;
	position:absolute;
	right:40px;
	top:50%;
	height:30px;
	width:30px;
	padding:0 5px;
	margin-top:-14px;
	border:0;
	font-family:\5b8b\4f53;
	font-size:17px;
	line-height:19px;
	color:transparent;
	cursor:pointer;
	z-index:1
}
.searchbox-fixed {
	position:fixed;
	top:0;
	overflow:hidden
}
.searchbox-positive {
	top:-45px
}
.searchbox-negative {
	top:0
}
.s-combobox {
	height:38px
}
.s-menu {
	font-family:tahoma, arial, \9ED1\4F53;
	background:#fff;
	position:absolute;
	height:200px;
	width:100%!important;
	left:0!important;
	margin:0;
	overflow:auto;
	z-index:99999;
	outline:0;
	cursor:default;
	pointer-events:auto;
	-webkit-box-shadow:0 3px 4px #999;
	-moz-box-shadow:0 3px 4px #999;
	-ms-box-shadow:0 3px 4px #999;
	-o-box-shadow:0 3px 4px #999;
	box-shadow:0 3px 4px #999
}
.s-menu .s-contentbox {
	position:relative;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	float:left;
	width:100%;
	padding:0;
	padding-bottom:150px
}
.s-menu .s-menuitem {
	border-bottom:1px solid #ebebeb;
	color:#999;
	list-style:none;
	margin:0;
	font-size:15px;
	line-height:45px;
	white-space:nowrap;
	left:-9999px;
	top:-9999px;
	overflow:hidden;
	cursor:pointer
}
.s-menu .s-menuitem b {
	font-weight:700
}
.s-menu .s-menuitem .s-mi-cont-key {
	float:left;
	padding-left:5px;
	text-align:left;
	color:#333
}
.s-menu .s-menuitem .s-mi-cont-key b {
	color:#757575;
	font-weight:100
}
.s-menu .s-menuitem .s-mi-cat .s-mi-cont-text {
	color:#999;
	margin-left:8px
}
.s-menu .s-menuitem .s-mi-history .s-mi-cont-key {
	color:#806F66;
	font-weight:700
}
.s-menu .s-menuitem .s-mi-history .s-mi-cont-del {
	position:absolute;
	right:10px;
	top:5px;
	text-decoration:none;
	color:#fff;
	width:16px;
	height:16px;
	text-indent:-999px;
	overflow:hidden;
	cursor:pointer;
	display:none;
	background:url(http://img03.taobaocdn.com/tps/i3/T1mdx5FaVfXXaSQP_X-16-16.png) center center no-repeat
}
.s-menu .s-menuitem .s-mi-tip {
	font-family:\5B8B\4F53;
	height:30px;
	line-height:30px;
	border-top:1px solid #fff;
	padding:0 10px;
	background:#efeceb;
	overflow:hidden;
	color:#000;
	cursor:pointer
}
.s-menu .s-menuitem .s-mi-tip b {
	font-family:Arial;
	display:inline-block;
	vertical-align:middle;
	max-width:300px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.s-menu .s-menuitem .s-mi-tip em {
	margin:0 5px;
	font-weight:700;
	color:#b10000;
	padding:0;
	float:none;
	font-size:12px
}
.s-menu .s-menuitem .s-mi-list {
	position:relative;
	padding-right:40px
}
.s-menu .s-menuitem .s-mi-list:after {
	display:block;
	clear:both;
	height:0;
	content:' '
}
.s-menu .s-menuitem .s-mi-list .s-mi-cont-count {
	float:right;
	padding-right:5px;
	color:#999
}
.s-menu .s-menuitem .s-mi-list .s-mi-btn-backfill {
	display:block;
	position:absolute;
	right:0;
	width:40px;
	color:#999;
	text-indent:-99px;
	overflow:hidden
}
.s-menu .s-menuitem .s-mi-list .s-mi-btn-backfill:after {
	content:'';
	position:absolute;
	top:13px;
	right:15px;
	width:0;
	height:20px;
	border-left:4px solid;
	-webkit-transform:rotate(-45deg)
}
.s-menu .s-menuitem .s-mi-list .s-mi-btn-backfill:before {
	content:'';
	position:absolute;
	right:1px;
	width:13px;
	height:13px;
	margin-top:13px;
	margin-right:10px;
	border:3px solid;
	border-right:0;
	border-bottom:0
}
.s-menu .s-menuitem .s-mi-qs {
	height:30px;
	line-height:30px;
	color:#666
}
.s-menu .s-menuitem .s-mi-qs i, .s-menu .s-menuitem .s-mi-qs em {
	background:url(../img/T1DGAyXahbXXXo2eDk-59-24.png) no-repeat 0 0 #fff
}
.s-menu .s-menuitem .s-mi-qs i {
	display:block;
	float:left;
	width:23px;
	height:22px;
	margin-left:5px;
	background-position:-40px 5px
}
.s-menu .s-menuitem .s-mi-qs em {
	color:#000;
	float:none;
	display:inline-block;
	height:23px;
	line-height:23px;
	width:35px;
	margin:0 3px;
	font-weight:700;
	text-align:center;
	font-size:12px;
	padding:0
}
.s-menu .s-menuitem.s-menuitem-disabled {
	color:gray;
	cursor:default
}
.s-menu .s-contentbox .s-menuitem.s-menuitem-hover {
	background-color:#b10000;
	color:#fff
}
.s-menu .s-contentbox .s-menuitem.s-menuitem-hover * {
	color:#fff
}
.s-menu .s-contentbox .s-menuitem.s-menuitem-hover .s-mi-cont-del {
	display:inline
}
.s-menu .s-contentbox .s-menuitem.s-menuitem-hover .s-mi-tip {
	background:#b10000;
	border-top:1px solid #b10000
}
.s-mi-historyHd {
	color:#a5a5a5;
	line-height:24px;
	padding-left:5px;
	overflow:hidden
}
.s-mi-historyFt {
	background-color:#efeceb;
	padding:3px 5px 4px;
	line-height:24px;
	color:#a5a5a5;
	text-align:center
}
.s-mi-cont-clear {
	background-color:#fff;
	display:inline-block;
	padding:1px 14px 2px;
	line-height:17px;
	color:#000;
	font-weight:700;
	text-decoration:none;
	border:1px solid #fafafa;
	border-radius:3px;
	box-shadow:inset 0 0 2px #dadada;
	cursor:pointer
}
.s-mi-cont-clear:hover {
	text-decoration:none
}
.events-mask {
	pointer-events:none
}
.filter {
	width:100%;
	text-align:center;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	height:39px;
	background:#fff;
	font-family:\9ED1\4F53
}
.filter ul {
	display:table;
	width:100%;
	margin:0;
	padding:0;
	border-collapse:collapse
}
.filter ul li {
	display:table-cell;
	border-bottom:3px solid transparent;
	padding:.65em 0
}
.filter ul li:first-child a {
	border-left:0
}
.filter ul li.filter-cur {
	border-bottom:2px solid #b10000
}
.filter ul li.filter-cur a {
	color:#b10000
}
.filter a {
	display:inline-block;
	width:100%;
	border-left:1px solid #dfdfdf;
	font-size:15px;
	color:#806f66;
	text-decoration:none
}
.filter a span {
	position:relative
}
.filter a:hover {
	text-decoration:none
}
.filter i {
	position:absolute;
	display:inline-block;
	overflow:hidden;
	top:6px;
	width:7px;
	height:10px;
	line-height:10px;
	margin-left:2px
}
.filter .f-ico-arrow-d,.filter .f-ico-arrow-u {
	background:url(../img/sx_hui.png) no-repeat 0 0;
	background-size:9px 12px;
	position:static;
	width:9px;
	height:13px;
	vertical-align:middle
}
.filter li.filter-cur .f-ico-arrow-d {
	background-image:url(../img/sx_red.png)
}
.filter li.filter-cur .f-ico-arrow-u {
	background-image:url(../img/sx_red_u.png)
}

.filter .f-ico-triangle-mt, .filter .f-ico-triangle-mb {
	border-width:5px;
	border-style:solid;
	border-color:transparent;
	height:0;
	width:0
}
.filter .f-ico-triangle-mt {
	border-bottom-color:#806f66;
	top:-3px
}
.filter .f-ico-triangle-mb {
	border-top-color:#806f66;
	top:9px
}
.filter .filter-cur .f-ico-triangle-mt.f-ico-triangle-slctd {
	border-bottom-color:#b10000
}
.filter .filter-cur .f-ico-triangle-mb.f-ico-triangle-slctd {
	border-top-color:#b10000
}
.filter .filter-navBtn {
	padding:0
}
.filter .filter-navBtn a {
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffffff, endcolorstr=#fff5f5f5, gradientType=0);
	background-image:-moz-linear-gradient(top, #fff, #f5f5f5);
	background-image:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f5f5f5));
	background-image:-o-linear-gradient(top, #fff, #f5f5f5);
	border:1px solid #ccc;
	border-radius:3px;
	width:80%;
	padding:2px 0;
	color:#333
}
.filter-fixed {
	position:fixed;
	z-index:9999;
	-webkit-box-shadow:1px 2px 5px rgba(0, 0, 0, .5);
	-moz-box-shadow:1px 2px 5px rgba(0, 0, 0, .5);
	-ms-box-shadow:1px 2px 5px rgba(0, 0, 0, .5);
	-o-box-shadow:1px 2px 5px rgba(0, 0, 0, .5);
	box-shadow:1px 2px 5px rgba(0, 0, 0, .5)
}
.filter-positive {
	top:0
}
.filter-negative {
	top:45px
}
body {
	background:#eee
}
.m-ks-autoResponsive-container {
	overflow:hidden;
	opacity:0
}
#page {
	background:#eee;
	z-index:10
}
#page {
	position:relative
}
.page-shadow {
	-webkit-box-shadow:4px 0 10px #999;
	box-shadow:4px 0 10px #999
}
.srp {
	display:table;
	width:100%;
	display:flex;
	flex-wrap:wrap;
	font-family:tahoma, arial, \9ED1\4F53;
	padding-bottom:10px;
	background-color:#eee;
}
.srp:after {
	display:block;
	clear:both;
	height:0;
	content:' '
}
.srp em {
	font-style:normal
}
.srp .product {
	display:inline-block;
	float:none;
	display:flex;
	align-items:stretch;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	padding:10px;
	padding-bottom:0
}
.srp .pro-inner {
	position:relative;
	background-color:#fff;
	border-radius:5px;
	box-shadow:0 1px 3px rgba(0, 0, 0, .25);
	overflow:hidden;
	width:100%;
	height:100%
}
.srp .proImg-wrap {
	float:left
}
.srp .proImg-wrap img {
	border-radius:5px
}
.srp .proInfo-wrap {
	float:left;
	padding:5px;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box
}
.srp .proPrice {
	font-family:arial;
	height:20px;
	line-height:21px
}
.srp .proPrice em {
	color:#c00;
	font-size:16px;
	font-weight:700;
	margin-left:2px
}
.srp .proPrice del {
	color:#999;
	font-size:12px
}
.srp .proTitle {
	overflow:hidden
}
.srp .proTitle a {
	color:#333;
	font-size:14px;
	text-decoration:none;
-webkit-transition:all .3s linear
}
.srp .proSales {
	float:left;
	color:#999;
	font-size:12px;
	font-family:arial
}
.srp .proSales em {
	color:#333
}
.srp .proService {
	color:#333;
	font-size:13px;
	height:20px;
	line-height:21px
}
.srp .proIcons {
	padding-left:10px;
	height:20px;
	overflow:hidden
}
.srp .proIcons>* {
	margin:0 3px 0 0
}
.srp .proIcons img {
	vertical-align:middle
}
.srp .proSales {
	line-height:16px;
	margin-top:3px
}
.srp.list {
	width:100%
}
.srp.list .product {
	width:100%;
	padding:15px 10px;
	border-bottom:1px solid #cacaca
}
.srp.list .pro-inner {
	width:100%;
	background-color:transparent;
	box-shadow:none
}
.srp.list .proImg-wrap {
	width:26.4%;
	margin-right:10px;
-webkit-transition:all .6s linear
}
.srp.list .proImg-wrap img {
	width:100%
}
.srp.list .proInfo-wrap {
	float:none;
	padding:0;
	padding-left:90px
}
.srp.list .proTitle {
	line-height:17px;
	height:36px;
	margin-bottom:8px
}
.srp.list .proTitle a {
	font-size:13px
}
.srp.list .proPrice {
	float:left;
	margin-right:10px
}
.srp.list .proPrice del {
	display:none
}
.srp.album .product {
	width:49.9%
}
.srp.album .product:nth-child(2n+1) {
padding-right:5px
}
.srp.album .product:nth-child(2n) {
padding-left:5px
}
.srp.album .pro-inner {
	align-items:stretch;
	padding-bottom:70px;
	height:auto
}
.srp.album .proInfo-wrap {
	position:absolute;
	bottom:5px;
	width:100%;
	height:65px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box
}
.srp.album .proImg-wrap {
	width:100%
}
.srp.album .proImg-wrap img {
	width:100%;
	border-radius:5px 5px 0 0
}
.srp.album .proTitle {
	height:19px;
	position:relative;
	top:19px;
	white-space:nowrap;
	text-overflow:ellipsis
}
.srp.album .proPrice {
	position:relative;
	top:-19px
}
.srp.album .proPrice del {
	display:none
}
.srp.album .proService {
	display:none
}
.srp.album .proSales {
	float:right;
	position:relative;
	top:-36px;
	right:2px;
	margin:0
}
.srp.album .proIcons {
	padding-left:0;
	width:100%;
	position:relative;
	top:0px
}
.srp.grid .product {
	width:100%;
-webkit-transition:all .5s linear
}
.srp.grid .proImg-wrap {
	width:100%
}
.srp.grid .proImg-wrap img {
	width:100%;
	border-radius:5px 5px 0 0
}
.srp.grid .proTitle {
	height:19px
}
.srp.grid .proPrice {
	float:left;
	margin-right:10px
}
.srp.grid .proPrice em {
	margin-right:10px
}
.srp.grid .proPrice del {
	display:none
}
.srp.grid .proService, .srp.grid .proIcons {
	float:none
}
.srp.grid .proSales {
	clear:left
}
@media screen and (max-device-height:568px) and (orientation:portrait) {
.srp {
display:table;
width:100%
}
.srp .product {
display:inline-block;
float:none
}
.srp.album .proImg-wrap {
overflow:hidden;
max-height:200px
}
}
@media screen and (min-device-width:768px) and (orientation:portrait) {
.srp {
display:table;
width:100%
}
.srp .product {
display:inline-block;
float:none
}
.srp.album .proImg-wrap {
overflow:hidden;
max-height:380px
}
}
@media screen and (max-device-width:480px) and (orientation:portrait) {
.srp.album .proImg-wrap {
overflow:hidden;
max-height:240px
}
}
.mobilelist-loading {
	width:30px;
	height:30px;
	margin:0 auto;
	background:#eee
}
.mobilelist-loading .floatingCircles {
	position:relative;
	width:30px;
	height:30px;
	-moz-transform:scale(0.6);
	-webkit-transform:scale(0.6);
	-ms-transform:scale(0.6);
	-o-transform:scale(0.6);
	transform:scale(0.6)
}
.mobilelist-loading .circle {
	position:absolute;
	background-color:#FFF;
	height:5px;
	width:5px;
	-moz-border-radius:3px;
	-moz-animation-name:loading_fade;
-moz-animation-duration:.64s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-border-radius:3px;
	-webkit-animation-name:loading_fade;
-webkit-animation-duration:.64s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-border-radius:3px;
	-ms-animation-name:loading_fade;
-ms-animation-duration:.64s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-border-radius:3px;
	-o-animation-name:loading_fade;
-o-animation-duration:.64s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	border-radius:3px;
	animation-name:loading_fade;
animation-duration:.64s;
	animation-iteration-count:infinite;
	animation-direction:linear
}
.mobilelist-loading .frotate_01 {
	left:0;
	top:12px;
-moz-animation-delay:.24s;
-webkit-animation-delay:.24s;
-ms-animation-delay:.24s;
-o-animation-delay:.24s;
animation-delay:.24s
}
.mobilelist-loading .frotate_02 {
	left:4px;
	top:4px;
-moz-animation-delay:.32s;
-webkit-animation-delay:.32s;
-ms-animation-delay:.32s;
-o-animation-delay:.32s;
animation-delay:.32s
}
.mobilelist-loading .frotate_03 {
	left:12px;
	top:0;
-moz-animation-delay:.4s;
-webkit-animation-delay:.4s;
-ms-animation-delay:.4s;
-o-animation-delay:.4s;
animation-delay:.4s
}
.mobilelist-loading .frotate_04 {
	right:4px;
	top:4px;
-moz-animation-delay:.48s;
-webkit-animation-delay:.48s;
-ms-animation-delay:.48s;
-o-animation-delay:.48s;
animation-delay:.48s
}
.mobilelist-loading .frotate_05 {
	right:0;
	top:12px;
-moz-animation-delay:.56s;
-webkit-animation-delay:.56s;
-ms-animation-delay:.56s;
-o-animation-delay:.56s;
animation-delay:.56s
}
.mobilelist-loading .frotate_06 {
	right:4px;
	bottom:4px;
-moz-animation-delay:.64s;
-webkit-animation-delay:.64s;
-ms-animation-delay:.64s;
-o-animation-delay:.64s;
animation-delay:.64s
}
.mobilelist-loading .frotate_07 {
	left:12px;
	bottom:0;
-moz-animation-delay:.72s;
-webkit-animation-delay:.72s;
-ms-animation-delay:.72s;
-o-animation-delay:.72s;
animation-delay:.72s
}
.mobilelist-loading .frotate_08 {
	left:4px;
	bottom:4px;
-moz-animation-delay:.8s;
-webkit-animation-delay:.8s;
-ms-animation-delay:.8s;
-o-animation-delay:.8s;
animation-delay:.8s
}
@-moz-keyframes loading_fade {
0% {
background-color:#2E2E2E
}
100% {
background-color:#FFF
}
}
@-webkit-keyframes loading_fade {
0% {
background-color:#2E2E2E
}
100% {
background-color:#FFF
}
}
@-ms-keyframes loading_fade {
0% {
background-color:#2E2E2E
}
100% {
background-color:#FFF
}
}
@-o-keyframes loading_fade {
0% {
background-color:#2E2E2E
}
100% {
background-color:#FFF
}
}
@keyframes loading_fade {
0% {
background-color:#2E2E2E
}
100% {
background-color:#FFF
}
}
.pagenav-wrapper .pagenav-content {
	padding:10px 10px 20px;
	text-align:center;
	line-height:28px;
	background:#eee
}
.pagenav-wrapper .pagenav {
	display:-webkit-box;
	display:flex
}
.pagenav-wrapper .pagenav a { color:#333;}
.pagenav-wrapper .pagenav>div {
	background-color:#fff;
	border:1px solid #ccc;
	line-height:29px;
	white-space:nowrap;
	border-radius:2px;
	cursor:pointer
}
.pagenav .p-first, .pagenav .p-end {
	width:42px
}
.pagenav .p-prev, .pagenav .p-next {
	width:59px;
	margin:0 5px
}
.pagenav .p-num { width:30px;margin:0 5px}
.pagenav .pagenav-cur {
	-webkit-box-flex:1;
	flex:1;
	position:relative;
	box-shadow:0 3px 3px #d7d7d7 inset;
	background:#fff
}
.pagenav .pagenav-select {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	opacity:0;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-appearance:none;
	border:0;
	border-radius:0;
	cursor:pointer
}
.pagenav .pagenav-cur i {
	display:inline-block;
	width:10px;
	height:7px;
	background:url();
	background-size:10px 7px
}
.pagenav-wrapper .pagenav .p-gray {
	background-color:#fdfdfd;
	color:#b4b1b1
}
.pagenav a:hover {
	text-decoration:none
}
.footer {
	background:#e2e2e2
}
.footer .user ul {
	height:35px;
	line-height:35px;
	border-top:1px solid #c9c9c9
}
.footer .user ul li {
	float:left
}
.footer .user a {
	color:#047
}
.footer .user a:hover {
	text-decoration:none
}
.footer .user .avatar, .footer .user .login {
	margin-left:10px
}
.footer .user .avatar img {
	width:20px;
	height:20px;
	vertical-align:middle;
	margin-top:-3px
}
.footer .user .name {
	margin:0 5px
}
.footer .user .register {
	margin:0 10px
}
.footer .user .logout {
	margin-left:15px
}
.footer .user .service {
	float:right;
	margin-right:15px
}
.footer .user ul:after {
	clear:both;
	height:0;
	display:block;
	content:" ";
	overflow:hidden
}
.footer .h-line {
	margin:0 12px 0 10px;
	border-top:1px solid #cfcfcf
}
.footer .footer-v {
	position:relative;
	line-height:30px;
	text-align:center;
	margin-top:5px
}
.footer .v-line {
	border-right:1px solid #333;
	margin:0 10px 0 5px
}
.footer .version a {
	color:#333
}
.backTop {
	position:absolute;
	top:10px;
	right:15px;
	display:block
}
.copyright {
	color:#666;
	padding-bottom:5px;
	line-height:20px
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin:0;
	padding:0
}
body, button, input, select, textarea {
	font:12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%
}
address, cite, dfn, em, var {
	font-style:normal
}
code, kbd, pre, samp {
	font-family:courier new, courier, monospace
}
small {
	font-size:12px
}
ul, ol {
	list-style:none
}
a {
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
sup {
	vertical-align:text-top
}
sub {
	vertical-align:text-bottom
}
legend {
	color:#000
}
fieldset, img {
	border:0
}
button, input, select, textarea {
	font-size:100%
}
table {
	border-collapse:collapse;
	border-spacing:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	display:block;
	margin:0;
	padding:0
}
mark {
	background:#ff0
}
body {
	-webkit-overflow-scrolling:touch
}
input[type=submit], input[type=reset], input[type=button], button {
	-webkit-appearance:none
}
* {
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	outline:0
}
.noresult {
	font-family:\9 ED1\4F53;
	font-size:14px;
	margin:0 10px;
	color:#333
}
.noresult .noresult-tip {
	background:url(../img/T1oJDBFhNcXXar_dkK-329-245.png) no-repeat center 55px;
	background-size:82px 61px;
	border-bottom:1px solid #e1e1e1;
	height:212px;
	padding-top:125px;
	box-sizing:border-box;
	word-break:break-all
}
.noresult .noresult-tip span {
	color:#999
}
.noresult .noresult-tip em {
	color:#b10000;
	font-weight:400
}
.noresult .noresult-rec {
	padding:10px 0;
	line-height:30px
}
.noresult .noresult-rec a {
	display:inline-block;
	width:50%;
	color:#044773;
	text-decoration:none
}
.noresult.correct-noquery {
	background-color:#fff;
	margin:0;
	padding:0 10px
}
.noresult.correct-noquery .noresult-tip {
	background-position:0 16px;
	background-size:32px 30px;
	border:0;
	display:table-cell;
	vertical-align:middle;
	height:72px;
	padding:0;
	padding-left:50px
}
.noresult.correct-noquery .noresult-rec {
	display:none
}
.noresult .tip-align {
	text-align:center
}
.minisite {
	background-color:#fff;
	position:relative;
	height:70px;
	padding:10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box
}
.minisite>a {
	display:block;
	text-decoration:none;
	height:100%
}
.minisite>a:hover {
	text-decoration:none
}
.minisite .m-brand {
	float:left;
	height:50px;
	width:90px;
	border:1px solid #ddd;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden
}
.minisite .m-brand img {
	width:90px;
	height:45px;
	margin-left:-1px
}
.minisite .m-portal {
	padding-left:100px
}
.minisite .m-portal .mp-shop {
	font-size:15px;
	letter-spacing:.2em;
	color:#333
}
.minisite .m-portal .mp-acts {
	color:#999
}
.minisite i {
	position:absolute;
	right:12px;
	top:50%;
	margin-top:-5px;
	width:10px;
	height:10px;
	border:3px solid #666;
	border-left:0;
	border-top:0;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg)
}
.nav {
	background-color:#d1ccc7;
	font-family:tahoma, arial, \9ED1\4F53;
	position:fixed;
	top:0;
	right:-276px;
	height:100%;
	width:276px;
	padding-top:36px;
	padding-bottom:10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box
}
.nav .hold-height {
	height:100%
}
.nav .attrs {
	padding-top:10px;
	width:100%;
	overflow-scrolling:touch;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-overflow-scrolling:touch
}
.nav .attrs>* {
	padding:0 23px;
	margin:10px 0
}
.nav .attrs .attr .attrKey {
	color:#806f66;
	border-bottom:1px solid;
	padding-bottom:5px
}
.nav .attrs .attr .attrValues {
	padding-top:5px
}
.nav .attrs .attr .attrValues ul {
	margin:0;
	padding:0
}
.nav .attrs .attr .attrValues ul:after {
	display:block;
	content:' ';
	clear:both;
	height:0;
	overflow:hidden
}
.nav .attrs .attr .attrValues .av-collapse {
	overflow:hidden
}
.nav .attrs .attr .attrValues .av-expand {
	max-height:none
}
.nav .attrs .attr .attrValues li {
	float:left;
	position:relative;
	background-color:#fff;
	border:1px solid #fff;
	border-radius:3px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	width:110px;
	margin:5px 0;
	text-align:center;
	list-style:none;
	line-height:26px
}
.nav .attrs .attr .attrValues li:nth-child(2n+1) {
margin-right:10px
}
.nav .attrs .attr .attrValues li a {
	border:1px solid #fff;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	border-radius:2px;
	display:block;
	width:100%;
	color:#333;
	font-size:12px;
	text-decoration:none;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.nav .attrs .attr .attrValues li.av-selected {
	border-color:#b10000
}
.nav .attrs .attr .attrValues li.av-selected a {
	border-color:#b10000
}
.nav .attrs .attr .attrValues li.av-selected:after {
	background:-webkit-linear-gradient(left top, transparent 49%, #b10000 49%, #b10000 100%);
	background:-moz-linear-gradient(left top, transparent 49%, #b10000 49%, #b10000 100%);
	background:-o-linear-gradient(left top, transparent 49%, #b10000 49%, #b10000 100%);
	content:'7';
	position:absolute;
	right:-4px;
	bottom:-4px;
	width:22px;
	height:22px;
	color:#fff;
	font-family:tahoma;
	font-size:12px;
	font-style:italic;
	font-weight:bolder;
	line-height:31px;
	text-indent:9px;
	overflow:hidden;
	-webkit-transform:rotate(-90deg) scaleX(-1) scale(0.55);
	-moz-transform:rotate(-90deg) scaleX(-1) scale(0.55);
	-o-transform:rotate(-90deg) scaleX(-1) scale(0.55)
}
.nav .attrs .attr .attrValues .av-options {
	margin:5px 0;
	padding:5px 0;
	font-size:12px;
	text-align:center;
	letter-spacing:.1em
}
.nav .attrs .attr .attrValues .av-options .avo-multiple {
	display:none
}
.nav .attrs .attr .attrValues .av-options .avo-more {
	color:#999;
	text-decoration:none
}
.nav .attrs .attr .attrValues .av-options .avo-more i {
	background-image:-webkit-linear-gradient(left, transparent 70%, #999 70%, #999 100%), -webkit-linear-gradient(top, transparent 70%, #999 70%, #999 100%);
	background-image:-moz-linear-gradient(left, transparent 70%, #999 70%, #999 100%), -moz-linear-gradient(top, transparent 70%, #999 70%, #999 100%);
	background-image:-o-linear-gradient(left, transparent 70%, #999 70%, #999 100%), -o-linear-gradient(top, transparent 70%, #999 70%, #999 100%);
	position:relative;
	display:inline-block;
	width:9px;
	height:9px;
	margin-left:3px
}
.nav .attrs .attr .attrValues .av-options .avo-more.avo-more-down i {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	top:-2px
}
.nav .attrs .attr .attrValues .av-options .avo-more.avo-more-up i {
	-webkit-transform:rotate(-135deg);
	-moz-transform:rotate(-135deg);
	-o-transform:rotate(-135deg);
	top:2px
}
.nav .attrs .attr .attrValues .av-btns {
	display:none
}
.nav .attrs .attr .attrValues .av-sep {
	color:#fff;
	letter-spacing:.2em;
	font-weight:700;
	font-size:10px
}
.nav .attrs .attr.auctionAttr {
	background-color:#dbd6d1;
	margin-top:0
}
.nav .attrs .attr.auctionAttr .attrKey {
	display:none
}
.nav .attrs .attr.auctionAttr .attrValues {
	padding-bottom:5px
}
.nav .attrs .attr.auctionAttr .attrValues .av-options {
	display:none
}
.nav .attrs .attr.priceAttr .attrValues {
	text-align:center;
	position:relative
}
.nav .attrs .attr.priceAttr .attrValues .start_price, .nav .attrs .attr.priceAttr .attrValues .end_price {
	-webkit-appearance:none;
	-webkit-box-shadow:inset 1px 1px 2px #979797;
	-moz-box-shadow:inset 1px 1px 2px #979797;
	-ms-box-shadow:inset 1px 1px 2px #979797;
	-o-box-shadow:inset 1px 1px 2px #979797;
	box-shadow:inset 1px 1px 2px #979797;
	border:0;
	border-radius:3px;
	width:80px;
	height:18px;
	padding:3px;
	margin:2px 0;
	text-align:center;
	line-height:19px;
	color:#333;
	font-size:15px;
	font-family:arial;
	font-weight:700
}
.nav .attrs .attr.priceAttr .attrValues .start_price:focus, .nav .attrs .attr.priceAttr .attrValues .end_price:focus {
	-webkit-box-shadow:inset 1px 2px 3px #979797;
	-moz-box-shadow:inset 1px 2px 3px #979797;
	-ms-box-shadow:inset 1px 2px 3px #979797;
	-o-box-shadow:inset 1px 2px 3px #979797;
	box-shadow:inset 1px 2px 3px #979797;
	outline:0
}
.nav .attrs .attr.priceAttr .attrValues .track {
	height:8px;
	width:210px;
	margin:40px 0 20px 10px;
	background:#e6e6e6;
	border-radius:10px;
	box-shadow:0 1px 2px #888 inset;
	position:relative
}
.nav .attrs .attr.priceAttr .attrValues .highlight {
	height:100%;
	background:-webkit-linear-gradient(top, #70a9f6 30%, #275eb7 80%, #275eb7 100%);
	position:absolute
}
.nav .attrs .attr.priceAttr .attrValues .btn {
	width:15px;
	height:15px;
	background:-webkit-linear-gradient(top, #fff 0, #fff 50%, #fff 100%);
	border-radius:15px;
	position:absolute;
	top:42px;
	cursor:move
}
.nav .attrs .attr.priceAttr .attrValues .btn span {
	position:absolute;
	top:-25px;
	left:0;
	color:#806f66
}
.nav .attrs .attr.priceAttr .attrValues .priceRange {
	margin-top:5px
}
.nav .attrs .attr.brandAttr .av-collapse, .nav .attrs .attr.propAttr .av-collapse {
	max-height:160px
}
.nav .attrs .attr.cateAttr .av-collapse {
	max-height:80px
}
.nav .attr-fix>* {
	padding-right:8px
}
.nav .attrExtra {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:rgba(189, 183, 176, .9);
	border-bottom:1px solid #b5aea7;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	position:relative;
	margin:-36px 0 -10px 0;
	padding:0 23px;
	width:276px;
	height:45px;
	line-height:45px;
	z-index:10
}
.nav .attrExtra a, .nav .attrExtra button, .nav .attrExtra input:not([type=hidden]) {
background-color:#fff;
border:0;
border-radius:3px;
padding:6px 16px;
color:#333;
font-size:14px;
line-height:18px;
letter-spacing:.2em;
text-decoration:none;
cursor:pointer
}
.nav .attrExtra .attrExtra-submit, .nav .attrExtra .attrExtra-cancel {
	margin-top:6px
}
.nav .attrExtra .attrExtra-submit {
	background-color:#c91c00;
	color:#fff
}
.nav .attrExtra .attrExtra-cancel {
	float:right
}
.nav .attrExtra .attrExtra-clear {
	float:right;
	margin-top:6px;
	margin-right:10px;
	background-color:#dfdfdf
}
.nav .attrExtra .attrExtra-clear.attrExtra-clear-disabled {
	color:#999
}
.hidden {
	display:none
}


/*…∏—°*/
.hide {
	display:none;
}
.cate-list-title{height:33px;line-height:33px;border-bottom:2px solid #825201;text-align:center;font-size:16px;color:#825201;}
.cate-list-pop{width:90%;margin:75px auto 0;background:#F2EEE0;border:1px solid #ccc;border-radius:5px;}
.cate-list .type{padding:10px;padding-bottom:0;border-bottom:1px solid #CCC;}
.cate-list .type a{position:relative;float:left;display:block;width:120px;height:30px;padding:2px;margin-right:10px;margin-bottom:10px;background:#FFF;border:1px solid #CCC;font-size:14px;color:#333;text-align:center;line-height:30px;overflow:hidden;}
.cate-list .type a em{display:none;position:absolute;bottom:1px;right:1px;width:12px;height:12px;background:url(../img/ok.png) no-repeat;background-size:contain;}
.cate-list .type1 a{width:71px;}
.cate-list .type2 a{width:114px;}
.cate-list .type a.cur{padding:1px;border:2px solid #6EB141;}
.cate-list .type a.cur em{display:block;}
.cate-list .btn-box{padding:10px 20px;}
.cate-list .btn-box .btn{display:inline-block;width:48%;}
.cate-list .btn-box .btn:nth-of-type(2){margin-left:2%;}
.cate-list p{width:245px;max-height:24px;line-height:1.5;max-width:900px;overflow:hidden;}
.cate-list p:last-child{font-size:14px;margin-top:2px;}
.btn-sn-b, .btn-sn-c a, .btn-sn-d a{
	display:block;
	height:100%;
	color:#fff;
}
.btn-sn-d a {
	color:#825201;
}
.btn-sn-b {
	height:40px;
	line-height:40px;
	font-size:16px;
	text-shadow:-1px -1px 0 #D25000;
	border-radius:3px;
	color:#fff;
	background:-webkit-gradient(linear, 0% 0, 0% 100%, from(#FA8B13), to(#DA7600));
	border-bottom:1px solid #F47300;
	text-align:center;
	-webkit-box-shadow:0 1px 0 #FFAD2B inset; border:none
}
.btn-sn-d {
	height:40px;
	line-height:40px;
	font-size:16px;
	text-shadow:-1px -1px 0 #FFE28E;
	border-radius:3px;
	color:#fff;
	background:-webkit-gradient(linear, 0% 0, 0% 100%, from(#FBDC88), to(#FFBA01));
	text-align:center;
	-webkit-box-shadow:0 1px 0 #FFC939 inset;
	color:#825201;
}
/*∑÷¿‡*/
.cate-list dt{position:relative;height:53px;padding-left:57px;padding-top:5px;margin-top:-1px;border-top:1px solid #CCC;border-bottom:1px solid #CCC;font-size:16px;}
.cate-list dt:after {content: ' ';position:absolute;top:23px;right:20px;width:8px;height:8px;border:#999 solid;border-width:2px 2px 0 0;-webkit-transform:rotate(135deg);}
.cate-list dt.cur:after{-webkit-transform: rotate(-45deg);top:26px;}
.cate-list dt img{position:absolute;top:3px;left:5px;width:50px;height:50px;}
.cate-list dd{display:none;}
.cate-list dd ul{background:none;}
.cate-list dd li{float:left;width:33.3%;padding:5px 0;text-align:center;border-bottom:1px solid #CCC;overflow:hidden;font-size:14px;}
.cate-list dd li a{display:block;height:30px;border-right:1px solid #D8D8D8;line-height:30px;}
.cate-list dd li:nth-of-type(3n) a{border-right:none;}


.f16 {
	font-size:16px;
}
.a1 {
	color:#825201;
}
.ti10 {
	text-indent:10px;
}
.mt10 {
	margin-top:10px!important;
}
.fix:after {
	display:block;
	content:'';
	clear:both;
	visibility:hidden;
}

#Cate_Pop_box { z-index:999; position:absolute; top:0; padding-bottom:20px; background:rgba(0,0,0,0.5); width:100%; height:100%;}