/*CSS Reset*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial '宋体';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
strong,
b {
  font-weight: normal;
}
img {
  border: none;
}
input,
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
}
textarea:focus {
  outline: 0;
}
body {
  color: #000;
  font-family: arial;
  background: #FFF;
}
/*
	CSS Function
	purpose:使用这些方法方便以后兼容其他内核，都是需要前缀(webkit)的属性
	ps:任何疑问或建议可旺旺—曹纯
*/
html,
body {
  background-color: #eee;
  color: #333;
  font-size: 14px;
  -webkit-text-size-adjust: none;
}
a {
  color: #333;
}
.wrap {
  min-width: 320px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
/* 常用 */
.clearfix:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
}
.none {
  display: none!important;
}
.gap {
  padding: 0 10px;
}
/* 省略 */
.omit {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* 颜色 */
.orange {
  color: #f60;
}
.green {
  color: #008c46;
}
.red {
  color: #d40000;
}
.gray {
  color: #666;
}
/* 箭头 android2.3 htc fixed上的bug，暂时用图片替代 */
.aw {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.a-d {
  background-image: url();
}
/* 上 */
.a-u {
  background-image: url();
}
/* 下 */
.a-l {
  background-image: url();
}
/* 左 */
.a-r {
  background-image: url();
}
/* 右 */
.c-btn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #212121;
  min-width: 38px;
  padding: 0 6px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#ededed));
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}
.c-btn:active {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), 0 0 2px 1px rgba(0, 0, 0, 0.1) inset;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e8e8e8));
}
.c-btn-30 {
  min-width: 18px;
}
.c-btn-100 {
  min-width: 88px;
}
.c-btn-off {
  color: #ccc;
}
.c-btn-off:active {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#ededed));
}
.c-btn-aw {
  position: relative;
}
.c-btn-aw:before {
  content: ' ';
  position: absolute;
  background: url() no-repeat;
  background-size: contain;
  top: 0;
  left: -11px;
  width: 14px;
  height: 30px;
}
.c-btn-aw:active:before {
  background-image: url();
  left: -10px;
}
/* 橙色 */
.c-btn-orange {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px #D13600 solid;
  background: -webkit-gradient(linear, center bottom, center top, from(#ff5500), to(#ff4300));
}
/* 点击反馈 */
.c-btn-tap {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), 0 0 3px 1px rgba(0, 0, 0, 0.1) inset;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e8e8e8));
}
.c-btn-tap:before {
  background-image: url();
  left: -10px;
}
@media screen and (-webkit-device-pixel-ratio: 1), screen and (-webkit-device-pixel-ratio: 1.5) {
  .c-btn {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: 1px #c4c4c4 solid;
  }
  .c-btn-aw:before {
    background-image: url();
    top: -1px;
    height: 32px;
  }
  .c-btn-aw:active:before {
    background-image: url();
    left: -11px;
  }
  .c-btn-tap:before {
    background-image: url();
    left: -11px;
  }
}
.c-nav {
  width: 100%;
  height: 49px;
  background: -webkit-gradient(linear, center top, center bottom, from(#f9f9f9), to(#eeeeee));
  border-bottom: 1px #fff solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-transform: translateZ(0);
}
.c-nav-w {
  position: absolute;
  width: 100%;
  color: #212121;
  height: 30px;
  line-height: 30px;
  padding: 10px 0 9px;
  display: -webkit-box;
}
.c-nav-w a {
  color: #212121;
}
.c-nav-s {
  padding-left: 17px;
  min-width: 70px;
}
.c-nav-s .c-btn-aw {
  -webkit-transform: translateZ(0);
  padding: 0 4px 0 2px;
  min-width: 30px;
}
.c-nav-e {
  min-width: 60px;
  text-align: right;
  padding-right: 10px;
}
.c-nav-c {
  -webkit-box-flex: 1;
  text-align: center;
  padding: 0 6px;
}
.c-nav-c span {
  font-size: 14px;
  display: block;
  position: relative;
}
.c-nav-c .aw {
  margin-left: 3px;
}
.c-footer {
  height: 98px;
  background: url() 0px 30px repeat-x;
  font-size: 14px;
  text-align: center;
}
.c-footer a {
  color: #004477;
  text-decoration: none;
}
.c-footer .c-footer-t {
  display: -webkit-box;
  padding: 0 8px 0 10px;
  height: 30px;
  line-height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#ededed));
}
.c-footer .c-footer-t .c-user-info {
  -webkit-box-flex: 1;
  display: -webkit-box;
  text-align: left;
}
.c-footer .c-footer-t .c-user-info span:nth-child(2) {
  display: inline-block;
  text-indent: 12px;
}
.c-footer .c-footer-t .c-gotop {
  width: 80px;
  text-align: right;
  font-size: 12px;
  font-family: verdana;
  font-weight: bold;
}
.c-footer .c-footer-t .c-gotop a {
  color: #999;
  text-transform: capitalize;
  position: relative;
  padding-right: 15px;
  display: inline-block;
}
.c-footer .c-footer-t .c-gotop a b {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 10px;
  right: 0px;
  border: 4px transparent solid;
  border-bottom-color: #999;
}
.c-footer .c-footer-l {
  padding: 12px 0 9px;
}
.c-footer .c-footer-l a {
  margin-left: 17px;
}
.c-footer .c-footer-l a:first-child {
  margin-left: 0px;
}
.c-footer .c-copyright {
  color: #666;
  font-size: 12px;
}
.c-footer .c-copyright a {
  color: #666;
}
.c-footer .c-copyright .c-cr-sv {
  margin-left: 10px;
}
.c-loading {
  width: 100%;
  min-height: 24px;
  background-size: 30px 12px;
  background: url(../img/loading.gif) center center no-repeat;
}
.c-f-text {
  width: 100%;
  text-indent: 6px;
  height: 35px;
  border: 1px solid #DDD;
  border-top-color: #BBB;
  color: #333;
  font-size: 14px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}
.c-f-search {
  display: -webkit-box;
}
.c-f-search .c-f-text {
  -webkit-box-flex: 1;
  display: block;
  border-right: 0;
  text-indent: 0;
  padding-left: 6px;
}
.c-f-search .c-f-bton {
  display: block;
  width: 40px;
  height: 35px;
  border: 0;
  background: url() no-repeat;
  background-size: contain;
}
.c-f-select {
  display: block;
  position: relative;
}
.c-f-select:after {
  content: ' ';
  position: absolute;
  right: 10px;
  top: 12px;
  border: #666 solid;
  border-width: 3px 3px 0 0;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(135deg);
}
.c-f-select select {
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: #666;
  font-size: 14px;
  padding: 0 24px 0 8px;
  border: 1px solid #DDD;
  border-top-color: #BBB;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}
.c-f-textarea {
  display: block;
  padding: 6px;
  height: 70px;
  border: 1px solid #DDD;
  border-top-color: #BBB;
  background-color: #fff;
}
.c-f-textarea textarea {
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #333;
  font-size: 14px;
}
.c-f-radio {
  width: 20px;
  height: 20px;
  background-size: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  background-image: url();
  background-repeat: no-repeat;
}
.c-f-radio:checked {
  background-image: url();
}
.c-f-checkbox {
  width: 20px;
  height: 20px;
  background-size: 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background-image: url();
  background-repeat: no-repeat;
}
.c-f-checkbox:checked {
  background-image: url();
}
.c-f-checkbox.green:checked {
  background-image: url();
}
.c-table li {
  margin-bottom: 10px;
  display: -webkit-box;
  min-height: 35px;
  line-height: 35px;
}
.c-table li:last-child {
  margin-bottom: 0;
}
.c-table li label:first-child {
  display: block;
  width: 70px;
  padding-right: 10px;
  text-align: right;
}
.c-table li label:first-child span {
  margin-right: 4px;
}
.c-table li div {
  -webkit-box-flex: 1;
}
.c-table li .c-table-multi {
  line-height: 24px;
}
.main {
  padding-bottom: 20px;
}
/*color vars*/
/*Text vars*/
/*Space vars*/
/*Screen width, height*/
/*CSS Function*/
/*
	<div>
		<span><em></em></span>
		<a>带箭头的按钮</a>
	</div>
*/
body {
  background-color: #eeeeee !important;
}
#tbh5v0 {
  /*to mixin*/

}
#tbh5v0 .fullscreen,
#tbh5v0 .landscape {
  width: 320px !important;
  margin: auto;
  background-color: #eeeeee;
}
#tbh5v0 .c-tab {
  height: 33px;
}
#tbh5v0 .c-tab ul {
  display: -webkit-box;
}
#tbh5v0 .c-tab ul li {
  -webkit-box-flex: 1;
  border-bottom: 1px solid #ccc;
  line-height: 33px;
  text-align: center;
  color: #333333;
  font-size: 18px;
}
#tbh5v0 .c-tab ul li a {
  display: block;
  color: #999999;
  text-decoration: none;
}
#tbh5v0 .c-tab ul li.cur {
  border-bottom: 3px solid #ff4400;
  font-weight: 700;
  color: #ff4400;
  font-size: 18px;
}
#tbh5v0 .c-tab ul li.cur a {
  color: #ff4400;
}
#tbh5v0 .c-tab ul.tab-2 li {
  width: 50%;
}
#tbh5v0 .c-tab ul.tab-3 li {
  width: 33.333333333333336%;
}
#tbh5v0 .c-tab ul.tab-4 li {
  width: 25%;
}
#tbh5v0 .c-filter {
  font-size: 16px;
}
#tbh5v0 .c-filter ul {
  display: -webkit-box;
}
#tbh5v0 .c-filter ul li {
  margin-right: 20px;
}
#tbh5v0 .c-filter ul li a {
  text-decoration: none;
  color: #666666;
}
#tbh5v0 .c-filter ul li.cur a {
  color: #ff4400;
  font-weight: bold;
}
#tbh5v0 .c-list-sort {
  display: block;
}
#tbh5v0 .c-list-sort:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
}
#tbh5v0 .c-list-sort li {
  float: left;
  font-size: 18px;
  color: #666666;
  height: 24px;
  line-height: 24px;
  display: block;
  margin: 0 2px;
  /*&.highlight {color:@standard-main-color;}*/

}
#tbh5v0 .c-list-sort li.sort-asc label,
#tbh5v0 .c-list-sort li.sort-desc label {
  float: left;
}
#tbh5v0 .c-list-sort li.sort-asc span,
#tbh5v0 .c-list-sort li.sort-desc span {
  float: left;
  display: inline-block;
  width: 13px;
  height: 24px;
  line-height: 1px;
  text-align: center;
}
#tbh5v0 .c-list-sort li.sort-asc em,
#tbh5v0 .c-list-sort li.sort-desc em {
  position: relative;
}
#tbh5v0 .c-list-sort li.sort-asc em:first-child,
#tbh5v0 .c-list-sort li.sort-desc em:first-child {
  top: 7px;
  left: 0px;
}
#tbh5v0 .c-list-sort li.sort-asc em:last-child,
#tbh5v0 .c-list-sort li.sort-desc em:last-child {
  top: 3px;
  left: 0px;
}
#tbh5v0 .c-list-sort li.sort-asc em:first-child {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 6px;
  height: 6px;
  background: -webkit-gradient(linear, 100% 0, 0 100%, from(#666666), color-stop(0.49, #666666), color-stop(0.5, transparent), color-stop(1, transparent));
  -webkit-transform: rotate(-45deg);
}
#tbh5v0 .c-list-sort li.sort-asc em:last-child {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 6px;
  height: 6px;
  background: -webkit-gradient(linear, 100% 0, 0 100%, from(transparent), color-stop(0.49, transparent), color-stop(0.5, #cccccc), color-stop(1, #cccccc));
  -webkit-transform: rotate(-45deg);
}
#tbh5v0 .c-list-sort li.sort-desc em:first-child {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 6px;
  height: 6px;
  background: -webkit-gradient(linear, 100% 0, 0 100%, from(#cccccc), color-stop(0.49, #cccccc), color-stop(0.5, #eeeeee), color-stop(1, #eeeeee));
  -webkit-transform: rotate(-45deg);
}
#tbh5v0 .c-list-sort li.sort-desc em:last-child {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 6px;
  height: 6px;
  background: -webkit-gradient(linear, 100% 0, 0 100%, from(#eeeeee), color-stop(0.49, #eeeeee), color-stop(0.5, #666666), color-stop(1, #666666));
  -webkit-transform: rotate(-45deg);
}
#tbh5v0 .c-list-normal {
  color: #333333;
  font-size: 16px;
  margin-top: 30px;
  display: -webkit-box;
  text-decoration: none;
}
#tbh5v0 .c-list-normal:nth-child(1),
#tbh5v0 .c-list-normal.first {
  margin-top: 20px !important;
}
#tbh5v0 .c-list-normal .item {
  margin: 10px;
}
#tbh5v0 .c-list-normal label {
  display: block;
  -webkit-box-flex: 1;
}
#tbh5v0 .c-list-normal span {
  display: inline-block;
  text-align: right;
  margin-left: 8px;
}
#tbh5v0 .c-list-normal span.arrow {
  display: inline-block;
  font-size: 0;
  border-top: 3px solid #666666;
  border-left: 3px solid #666666;
  width: 6px;
  height: 6px;
  background-color: transparent;
  -webkit-transform: rotate(135deg);
  margin-right: 2px;
  margin-bottm: 2px;
}
#tbh5v0 .c-list-normal span.text em {
  color: #ff4400;
}
#tbh5v0 .c-list-group {
  width: 100%;
  margin-top: 20px;
}
#tbh5v0 .c-list-group:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
}
#tbh5v0 .c-list-group li {
  display: -webkit-box;
  width: 100%;
  margin-left: -10px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333333;
  border-bottom: 1px #CCC solid;
  /*&.highlight {
				background-color:#DDD;
			}*/

}
#tbh5v0 .c-list-group li a {
  display: -webkit-box;
  width: 100%;
  color: #333333;
  text-decoration: none;
}
#tbh5v0 .c-list-group li label {
  display: block;
  -webkit-box-flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#tbh5v0 .c-list-group li label span {
  font-size: 14px;
  color: #666666;
}
#tbh5v0 .c-list-group li span.arrow {
  display: inline-block;
  font-size: 0;
  border-top: 3px solid #666666;
  border-left: 3px solid #666666;
  width: 6px;
  height: 6px;
  background-color: transparent;
  -webkit-transform: rotate(135deg);
  margin-right: 2px;
}
#tbh5v0 .c-list-ext-group {
  width: 100%;
  margin-top: 20px;
}
#tbh5v0 .c-list-ext-group:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
}
#tbh5v0 .c-list-ext-group li {
  display: -webkit-box;
  width: 100%;
  margin-left: -10px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333333;
  border-bottom: 1px #CCC solid;
  /*&.highlight {
				background-color:#DDD;
			}*/

}
#tbh5v0 .c-list-ext-group li a {
  display: -webkit-box;
  width: 100%;
  color: #333333;
  text-decoration: none;
}
#tbh5v0 .c-list-ext-group li label {
  display: block;
  -webkit-box-flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#tbh5v0 .c-list-ext-group li label span {
  font-size: 14px;
  color: #666666;
}
#tbh5v0 .c-list-ext-group li span.arrow {
  display: inline-block;
  font-size: 0;
  border-top: 3px solid #666666;
  border-left: 3px solid #666666;
  width: 6px;
  height: 6px;
  background-color: transparent;
  -webkit-transform: rotate(135deg);
  margin-right: 2px;
}
#tbh5v0 .c-list-ext-group li em {
  color: #D40000;
  padding-right: 6px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
#tbh5v0 {


}
#tbh5v0 .c-form-txt-normal {
  height: 33px;
  width: 289px;
  border: solid 1px #DDD;
  border-top-color: #BBB;
  padding-left: 9px;
  color: #333333;
  font-size: 16px;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}
#tbh5v0 .c-form-txt-normal:focus {
  outline: none;
  background: #fff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#tbh5v0 .c-form-txt-normal:disabled {
  background: #f5f5f5;
  border-color: #ccc;
  color: #ccc;
}
#tbh5v0 .c-form-txt-normal.error {
  border-color: #EC0000;
  border-width: 2px;
  width: 288px;
  height: 31px;
  padding-left: 8px;
}
#tbh5v0 .c-form-txt-normal::-webkit-input-placeholder {
  font-size: 16px;
  color: #ccc;
}
#tbh5v0 .c-form-txt-small {
  height: 33px;
  width: 49px;
  border: solid 1px #DDD;
  border-top-color: #BBB;
  padding-left: 9px;
  color: #333333;
  font-size: 16px;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}
#tbh5v0 .c-form-txt-small:focus {
  outline: none;
  background: #fff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#tbh5v0 .c-form-txt-small:disabled {
  background: #f5f5f5;
  border-color: #ccc;
  color: #ccc;
}
#tbh5v0 .c-form-txt-small.error {
  border-color: #EC0000;
  border-width: 2px;
  width: 48px;
  height: 31px;
  padding-left: 8px;
}
#tbh5v0 .c-form-txt-small::-webkit-input-placeholder {
  font-size: 16px;
  color: #ccc;
}
#tbh5v0 .c-form-txt-percent {
  height: 33px;
  width: 100%;
  border: solid 1px #DDD;
  border-top-color: #BBB;
  padding-left: 9px;
  color: #333333;
  font-size: 16px;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}
#tbh5v0 .c-form-txt-percent:focus {
  outline: none;
  background: #fff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#tbh5v0 .c-form-txt-percent:disabled {
  background: #f5f5f5;
  border-color: #ccc;
  color: #ccc;
}
#tbh5v0 .c-form-txt-percent.error {
  border-color: #EC0000;
  border-width: 2px;
  width: 100%;
  height: 31px;
  padding-left: 8px;
}
#tbh5v0 .c-form-txt-percent::-webkit-input-placeholder {
  font-size: 16px;
  color: #ccc;
}
#tbh5v0 .c-form-search {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}
#tbh5v0 .c-form-search select { padding:0 10px; height:25px; border:1px solid #CCC}
#tbh5v0 .c-form-search input[type="radio"] { list-style:none; margin-right:5px;}
#tbh5v0 .c-form-search input[type="text"],
#tbh5v0 .c-form-search input[type="email"],
#tbh5v0 .c-form-search input[type="search"],
#tbh5v0 .c-form-search input[type="number"],
#tbh5v0 .c-form-search input[type="tel"],
#tbh5v0 .c-form-search input[type="url"] {
  height: 33px;
  width: 289px;
  border: solid 1px #DDD;
  border-top-color: #BBB;
  padding-left: 9px;
  color: #333333;
  font-size: 16px;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}
#tbh5v0 .c-form-search input[type="text"]:focus,
#tbh5v0 .c-form-search input[type="email"]:focus,
#tbh5v0 .c-form-search input[type="search"]:focus,
#tbh5v0 .c-form-search input[type="number"]:focus,
#tbh5v0 .c-form-search input[type="tel"]:focus,
#tbh5v0 .c-form-search input[type="url"]:focus {
  outline: none;
  background: #fff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#tbh5v0 .c-form-search input[type="text"]:disabled,
#tbh5v0 .c-form-search input[type="email"]:disabled,
#tbh5v0 .c-form-search input[type="search"]:disabled,
#tbh5v0 .c-form-search input[type="number"]:disabled,
#tbh5v0 .c-form-search input[type="tel"]:disabled,
#tbh5v0 .c-form-search input[type="url"]:disabled {
  background: #f5f5f5;
  border-color: #ccc;
  color: #ccc;
}
#tbh5v0 .c-form-search input[type="text"].error,
#tbh5v0 .c-form-search input[type="email"].error,
#tbh5v0 .c-form-search input[type="search"].error,
#tbh5v0 .c-form-search input[type="number"].error,
#tbh5v0 .c-form-search input[type="tel"].error,
#tbh5v0 .c-form-search input[type="url"].error {
  border-color: #EC0000;
  border-width: 2px;
  width: 288px;
  height: 31px;
  padding-left: 8px;
}
#tbh5v0 .c-form-search input[type="text"]::-webkit-input-placeholder,
#tbh5v0 .c-form-search input[type="email"]::-webkit-input-placeholder,
#tbh5v0 .c-form-search input[type="search"]::-webkit-input-placeholder,
#tbh5v0 .c-form-search input[type="number"]::-webkit-input-placeholder,
#tbh5v0 .c-form-search input[type="tel"]::-webkit-input-placeholder,
#tbh5v0 .c-form-search input[type="url"]::-webkit-input-placeholder {
  font-size: 16px;
  color: #ccc;
}
#tbh5v0 .c-form-search input[type="text"]::-webkit-search-cancel-button,
#tbh5v0 .c-form-search input[type="email"]::-webkit-search-cancel-button,
#tbh5v0 .c-form-search input[type="search"]::-webkit-search-cancel-button,
#tbh5v0 .c-form-search input[type="number"]::-webkit-search-cancel-button,
#tbh5v0 .c-form-search input[type="tel"]::-webkit-search-cancel-button,
#tbh5v0 .c-form-search input[type="url"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#tbh5v0 .c-form-search .inp-search {
  width: 261px;
  height: 33px;
  border: solid 1px #DDD;
  border-top-color: #BBB;
  padding-left: 9px;
  color: #333;
  font-size: 16px;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}
#tbh5v0 .c-form-search button {
  top: 1px;
  right: 40px;
  width: 33px;
  height: 33px;
  position: absolute;
  border: 0;
  background-color: transparent;
  text-align: center;
  display: none;
}
#tbh5v0 .c-form-search button span {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background-color: #ccc;
  display: block;
}
#tbh5v0 .c-form-search button span:after {
  width: 16px;
  height: 16px;
  background-image: url();
  -webkit-background-size: 8px 8px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  content: "";
}
#tbh5v0 .c-form-search .bton-search {
  border: none;
  width: 40px;
  height: 35px;
  overflow: hidden;
  margin-left: -4px;
  background: url() no-repeat;
  -webkit-background-size: contain;
}
#tbh5v0 .c-form-suggest {
  position: relative;
}
#tbh5v0 .c-form-suggest .suggest {
  position: absolute;
  z-index: 5;
  clear: both;
  display: none;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: #EEE;
  padding-bottom: 10px;
}
#tbh5v0 .c-form-suggest .suggest .meat {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  padding-bottom: 26px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
}
#tbh5v0 .c-form-suggest .suggest .meat li {
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  border-bottom: solid 1px #DDD;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}
#tbh5v0 .c-form-suggest .suggest .meat li div.addition {
  position: absolute;
  right: 0;
  top: 7px;
  border-left: solid 1px #D7D7D7;
  width: 39px;
  height: 26px;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center center;
}
#tbh5v0 .c-form-suggest .suggest .close {
  display: inline-block;
  bottom: 0;
}
#tbh5v0 .c-form-suggest .expand .suggest {
  display: block;
}
#tbh5v0 .c-form-suggest .collapse .suggest {
  display: none;
}
#tbh5v0 {

}
#tbh5v0 .c-form-sku-2 {
  width: 38px;
  border: solid 1px #D4D5D6;
  height: 27px;
  line-height: 27px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 12px;
  background-color: #fff;
  text-decoration: none;
  vertical-align: top;
  color: #333333;
  font-size: 14px;
  padding: 3px;
  letter-spacing: 1px;
}
#tbh5v0 .c-form-sku-2.selected {
  border: solid 2px #ff4400;
  width: 36px;
  height: 25px;
  line-height: 25px;
}
#tbh5v0 .c-form-sku-2.selected span {
  position: absolute;
  display: block;
  height: 21px;
  width: 21px;
  -webkit-background-size: 21px 21px;
  background-image: url();
  right: -1px;
  bottom: -1px;
}
#tbh5v0 .c-form-sku-2.disabled {
  color: #999;
}
#tbh5v0 .c-form-sku-5 {
  width: 88px;
  border: solid 1px #D4D5D6;
  height: 27px;
  line-height: 27px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 12px;
  background-color: #fff;
  text-decoration: none;
  vertical-align: top;
  color: #333333;
  font-size: 14px;
  padding: 3px;
  letter-spacing: 1px;
}
#tbh5v0 .c-form-sku-5.selected {
  border: solid 2px #ff4400;
  width: 86px;
  height: 25px;
  line-height: 25px;
}
#tbh5v0 .c-form-sku-5.selected span {
  position: absolute;
  display: block;
  height: 21px;
  width: 21px;
  -webkit-background-size: 21px 21px;
  background-image: url();
  right: -1px;
  bottom: -1px;
}
#tbh5v0 .c-form-sku-5.disabled {
  color: #999;
}
#tbh5v0 .c-form-sku-9 {
  width: 142px;
  border: solid 1px #D4D5D6;
  height: 27px;
  line-height: 27px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 12px;
  background-color: #fff;
  text-decoration: none;
  vertical-align: top;
  color: #333333;
  font-size: 14px;
  padding: 3px;
  letter-spacing: 1px;
}
#tbh5v0 .c-form-sku-9.selected {
  border: solid 2px #ff4400;
  width: 140px;
  height: 25px;
  line-height: 25px;
}
#tbh5v0 .c-form-sku-9.selected span {
  position: absolute;
  display: block;
  height: 21px;
  width: 21px;
  -webkit-background-size: 21px 21px;
  background-image: url();
  right: -1px;
  bottom: -1px;
}
#tbh5v0 .c-form-sku-9.disabled {
  color: #999;
}
#tbh5v0 .c-form-sku-18 {
  width: 142px;
  border: solid 1px #D4D5D6;
  height: 27px;
  line-height: 13px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 12px;
  background-color: #fff;
  text-decoration: none;
  vertical-align: top;
  color: #333333;
  font-size: 14px;
  padding: 3px;
  letter-spacing: 1px;
}
#tbh5v0 .c-form-sku-18.selected {
  border: solid 2px #ff4400;
  width: 140px;
  height: 25px;
  line-height: 11px;
}
#tbh5v0 .c-form-sku-18.selected span {
  position: absolute;
  display: block;
  height: 21px;
  width: 21px;
  -webkit-background-size: 21px 21px;
  background-image: url();
  right: -1px;
  bottom: -1px;
}
#tbh5v0 .c-form-sku-18.disabled {
  color: #999;
}
#tbh5v0 .c-form-sku-18.selected {
  line-height: 13px;
}
#tbh5v0 .c-form-checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
  border: solid 1px #DDD;
  border-top-color: #BBB;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#tbh5v0 .c-form-checkbox:disabled {
  background-color: #ccc;
}
#tbh5v0 .c-form-checkbox:checked:disabled {
  background-position: top left;
  border: 0;
}
#tbh5v0 .c-form-checkbox:active {
  background-color: transparent;
}
#tbh5v0 .c-form-checkbox:disabled {
  background-image: none;
  border: 0;
}
#tbh5v0 .c-form-checkbox:checked {
  background-position: 0 -72px;
  border: 0;
  -webkit-background-size: 20px 92px;
  background-image: url(../img/hd_checkbox.png);
}
#tbh5v0 .c-form-checkbox-normal {
  -webkit-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
  border: solid 1px #DDD;
  border-top-color: #BBB;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#tbh5v0 .c-form-checkbox-normal:disabled {
  background-color: #ccc;
}
#tbh5v0 .c-form-checkbox-normal:checked:disabled {
  background-position: top left;
  border: 0;
}
#tbh5v0 .c-form-checkbox-normal:active {
  background-color: transparent;
}
#tbh5v0 .c-form-checkbox-normal:disabled {
  background-image: none;
  border: 0;
}
#tbh5v0 .c-form-checkbox-normal:checked {
  background-position: 0 -48px;
  border: 0;
  -webkit-background-size: 20px 92px;
  background-image: url(../img/hd_checkbox.png);
}
#tbh5v0 .c-form-checkbox-blue {
  -webkit-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
  border: solid 1px #DDD;
  border-top-color: #BBB;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#tbh5v0 .c-form-checkbox-blue:disabled {
  background-color: #ccc;
}
#tbh5v0 .c-form-checkbox-blue:checked:disabled {
  background-position: top left;
  border: 0;
}
#tbh5v0 .c-form-checkbox-blue:active {
  background-color: transparent;
}
#tbh5v0 .c-form-checkbox-blue:disabled {
  background-image: none;
  border: 0;
}
#tbh5v0 .c-form-checkbox-blue:checked {
  background-position: 0 -24px;
  border: 0;
  -webkit-background-size: 20px 92px;
  background-image: url(../img/hd_checkbox.png);
}
#tbh5v0 .c-form-radio {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}
#tbh5v0 .c-form-radio:active {
  background-color: transparent;
}
#tbh5v0 .c-form-radio:disabled {
  background-image: none;
  border: 0;
}
#tbh5v0 .c-form-radio:checked {
  background-image: url();
  border: 0;
}
#tbh5v0 .c-form-radio:disabled {
  width: 20px;
  height: 20px;
  background-image: -webkit-gradient(radial, center center, 10, center center, 9, from(#eeeeee), to(#cccccc));
}
#tbh5v0 .c-form-radio:checked:disabled:after {
  background-color: #ccc;
  width: 8px;
  height: 8px;
  background-image: -webkit-gradient(radial, center center, 4, center center, 3, from(#cccccc), to(#999999));
  display: block;
  margin-top: 6px;
  margin-left: 6px;
  content: "";
}
#tbh5v0 .c-form-radio-normal {
  -webkit-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
  background-image: url();
  border: 0;
}
#tbh5v0 .c-form-radio-normal:active {
  background-color: transparent;
}
#tbh5v0 .c-form-radio-normal:disabled {
  background-image: none;
  border: 0;
}
#tbh5v0 .c-form-radio-normal:checked {
  background-image: url();
  border: 0;
}
#tbh5v0 .c-form-radio-normal:disabled {
  width: 20px;
  height: 20px;
  background-image: -webkit-gradient(radial, center center, 10, center center, 9, from(#eeeeee), to(#cccccc));
}
#tbh5v0 .c-form-radio-normal:checked:disabled:after {
  background-color: #ccc;
  width: 8px;
  height: 8px;
  background-image: -webkit-gradient(radial, center center, 4, center center, 3, from(#cccccc), to(#999999));
  display: block;
  margin-top: 6px;
  margin-left: 6px;
  content: "";
}
#tbh5v0 .c-form-radio-blue {
  -webkit-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
  background-image: url();
  border: 0;
}
#tbh5v0 .c-form-radio-blue:active {
  background-color: transparent;
}
#tbh5v0 .c-form-radio-blue:disabled {
  background-image: none;
  border: 0;
}
#tbh5v0 .c-form-radio-blue:checked {
  background-image: url();
  border: 0;
}
#tbh5v0 .c-form-radio-blue:disabled {
  width: 20px;
  height: 20px;
  background-image: -webkit-gradient(radial, center center, 10, center center, 9, from(#eeeeee), to(#cccccc));
}
#tbh5v0 .c-form-radio-blue:checked:disabled:after {
  background-color: #ccc;
  width: 8px;
  height: 8px;
  background-image: -webkit-gradient(radial, center center, 4, center center, 3, from(#cccccc), to(#999999));
  display: block;
  margin-top: 6px;
  margin-left: 6px;
  content: "";
}
#tbh5v0 .c-form-select-page {
  position: relative;
  width: 88px;
}
#tbh5v0 .c-form-select-page:after {
  content: "";
  top: 11px;
  right: 24px;
  position: absolute;
  display: inline-block;
  font-size: 0;
  border-top: 2px solid #666666;
  border-left: 2px solid #666666;
  width: 6px;
  height: 6px;
  background-color: transparent;
  -webkit-transform: rotate(225deg);
}
#tbh5v0 .c-form-select-page select {
  -webkit-appearance: none;
  width: 88px;
  height: 33px;
  -webkit-border-radius: 0;
  border: solid 1px #D5D5D5;
  border-top-color: #BDBDBD;
  border-width: 0px;
  color: #333333;
  font-size: 16px;
  padding-right: 33px;
  background: #eeeeee;
}
#tbh5v0 .c-form-select-page select option {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#tbh5v0 .c-form-select-page select:focus {
  outline: none;
}
#tbh5v0 .c-form-select-normal {
  position: relative;
  width: 200px;
}
#tbh5v0 .c-form-select-normal:after {
  content: "";
  top: 11px;
  right: 7px;
  position: absolute;
  display: inline-block;
  font-size: 0;
  border-top: 2px solid #666666;
  border-left: 2px solid #666666;
  width: 6px;
  height: 6px;
  background-color: transparent;
  -webkit-transform: rotate(225deg);
}
#tbh5v0 .c-form-select-normal select {
  -webkit-appearance: none;
  width: 200px;
  height: 33px;
  -webkit-border-radius: 0;
  border: solid 1px #D5D5D5;
  border-top-color: #BDBDBD;
  border-width: 1px;
  color: #333333;
  font-size: 16px;
  padding-right: 16px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}
#tbh5v0 .c-form-select-normal select option {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#tbh5v0 .c-form-select-normal select:focus {
  outline: none;
}
#tbh5v0 .c-form-range {
  height: 5px;
  width: 100px;
  -webkit-appearance: none;
  background-color: #ccc;
  -webkit-border-radius: 1em;
}
#tbh5v0 .c-form-range::-webkit-slider-thumb {
  background-image: url(images/slider-thumb.gif);
  -webkit-appearance: none;
  width: 10px;
  height: 23px;
  border: 0;
}
#tbh5v0 .c-form-jsrange {
  width: 200px;
  height: 5px;
  background-color: #ccc;
  -webkit-border-radius: 2px;
  position: relative;
}
#tbh5v0 .c-form-jsrange .slider-thumb {
  background-image: url(images/slider-thumb.gif);
  display: block;
  position: absolute;
  top: -10px;
  width: 50px;
  height: 50px;
  border: 0;
  opacity: .5;
}
#tbh5v0 .c-form-jsrange .highlight {
  background-color: #ff4400;
  -webkit-border-radius: 2px;
  height: 5px;
  width: 0;
  position: absolute;
}
#tbh5v0 .c-form-jsrange .left-slider-thumb {
  display: block;
  position: absolute;
  top: -10px;
  width: 50px;
  height: 50px;
  border: 0;
  opacity: .5;
  background-color: red;
}
#tbh5v0 .c-form-jsrange .right-slider-thumb {
  display: block;
  position: absolute;
  top: -10px;
  width: 50px;
  height: 50px;
  border: 0;
  opacity: .5;
  background-color: blue;
}
#tbh5v0 .c-float-shortcutLayer {
  position: relative;
  display: inline-block;
  width: 190px;
  max-width: 400px;
  background: #f7ab06;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffba27), color-stop(100%, #f7ab06));
  border: 1px solid #e68200;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 2px 2px #ffc241;
}
#tbh5v0 .c-float-shortcutLayer .shtxt {
  padding: 12px 10px;
}
#tbh5v0 .c-float-shortcutLayer .shclose {
  position: absolute;
  right: 3px;
  top: 2px;
  width: 14px;
  height: 14px;
  background: url('http://a.tbcdn.cn/mw/base/styles/component/float/images/close.png');
  -webkit-background-size: contain;
}
#tbh5v0 .c-float-shortcutLayer .xjt {
  position: absolute;
  width: 13px;
  height: 8px;
  left: 50%;
  margin-left: -10px;
}
#tbh5v0 .c-float-shortcutLayer .xjt:before {
  content: '';
  position: absolute;
  right: 0px;
  top: -3px;
  width: 9px;
  height: 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9b114), color-stop(100%, #fab113));
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
}
#tbh5v0 .c-float-shortcutLayer .xjt span {
  position: absolute;
  display: block;
  width: 18px;
  height: 8px;
  overflow: hidden;
}
#tbh5v0 .c-float-shortcutLayer .xjt span em {
  display: block;
  position: absolute;
  top: -6px;
  left: 3px;
  width: 9px;
  height: 9px;
  background: #f7ab06;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffba27), color-stop(100%, #f7ab06));
  border: 1px solid #e68200;
  -webkit-box-shadow: inset 0px 0px 2px 2px #ffc241;
  -webkit-transform: rotate(45deg);
}
#tbh5v0 .c-float-fingPop {
  background-color: rgba(23, 23, 23, 0.9);
}
#tbh5v0 .c-float-fingPop .innerC {
  width: 173px;
  margin: 0 auto;
  padding-top: 5px;
}
#tbh5v0 .c-float-fingPop .innerC .fingerImg {
  display: inline-block;
  width: 63px;
  height: 70px;
  background-image: url('http://a.tbcdn.cn/mw/base/styles/component/float/images/fingers.png');
}
#tbh5v0 .c-float-fingPop .innerC .ftxt {
  display: inline-block;
  width: 101px;
  padding: 20px 0 10px 0;
  vertical-align: top;
  color: white;
}
#tbh5v0 .c-float-shakePop {
  background-color: rgba(23, 23, 23, 0.9);
  display: block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
}
#tbh5v0 .c-float-impWarn {
  background-color: rgba(215, 23, 23, 0.9);
  display: block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
}
#tbh5v0 .c-float-modePop {
  text-align: center;
  background-color: rgba(23, 23, 23, 0.9);
}
#tbh5v0 .c-float-modePop .warnMsg {
  padding: 10px 10px 10px 10px;
  color: #ffffff;
}
#tbh5v0 .c-float-modePop .doBtn {
  width: 170px;
  margin: 0 auto;
}
#tbh5v0 .c-float-modePop button {
  padding: 6px 9px 6px 9px;
  color: #949494;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100%, #2e2e2e));
  border: none;
  border-radius: 2px;
}
#tbh5v0 .c-float-shade {
  width: 100%;
  display: block;
  position: absolute;
  z-index: 99;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  left: 0;
}
#tbh5v0 .c-float-shade.hide {
  display: none;
}
#tbh5v0 .c-float-popWrap {
  width: 220px;
  border-radius: 2px;
  z-index: 9999;
  position: absolute;
  overflow: hidden;
}
#tbh5v0 .c-float-popWrap .c-float-modePop {
  background-color: rgba(51, 51, 51, 0.9);
  border-radius: 2px;
  padding: 15px;
}
#tbh5v0 .c-float-popWrap .c-float-modePop .warnMsg {
  padding: 0px;
  font-size: 14px;
}
#tbh5v0 .c-float-popWrap .c-float-modePop .content {
  margin-top: 10px;
}
#tbh5v0 .c-float-popWrap .c-float-modePop .doBtn {
  width: 190px;
  margin-top: 10px;
}
#tbh5v0 .c-float-popWrap .c-float-modePop button {
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #444;
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #999999));
  border: none;
  border-radius: 2px;
  padding: 0px;
  margin: 10px 5px 0;
}
#tbh5v0 .c-float-popWrap.hide {
  display: none;
  -webkit-box-shadow: none;
}
#tbh5v0 .c-float-popWrap.show {
  display: block;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}
#tbh5v0 .c-float-popWrap.msgMode .c-float-modePop .content,
#tbh5v0 .c-float-popWrap.msgMode .c-float-modePop .doBtn {
  display: none;
}
#tbh5v0 .c-float-popWrap.alertMode .c-float-modePop .content {
  display: none;
}
#tbh5v0 .c-float-popWrap.alertMode .c-float-modePop .doBtn .cancel {
  display: none;
}
#tbh5v0 .c-float-popWrap.confirmMode .c-float-modePop .content,
#tbh5v0 .c-float-popWrap.confirmMode .c-float-modePop .doBtn {
  display: block;
}
#tbh5v0 .c-float-gallery .ctrlBtn {
  display: none;
  margin-bottom: 11px;
}
#tbh5v0 .c-float-gallery .ctrlBtn button {
  padding: 6px 9px 6px 9px;
  color: #949494;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100%, #2e2e2e));
  border: none;
  border-radius: 2px;
}
#tbh5v0 .c-float-gallery .ctrlBtn button.lbtn {
  float: left;
}
#tbh5v0 .c-float-gallery .ctrlBtn button.rbtn {
  float: right;
}
#tbh5v0 .c-float-gallery .c-float-wrap {
  position: relative;
}
#tbh5v0 .c-float-gallery .c-float-wrap nav a {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  margin-top: -16px;
  top: 50%;
}
#tbh5v0 .c-float-gallery .c-float-wrap nav a span {
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(45deg);
}
#tbh5v0 .c-float-gallery .c-float-wrap nav a.prev {
  left: 10px;
}
#tbh5v0 .c-float-gallery .c-float-wrap nav a.prev span {
  border-left: 3px solid #999;
  border-bottom: 3px solid #999;
}
#tbh5v0 .c-float-gallery .c-float-wrap nav a.next {
  right: 10px;
}
#tbh5v0 .c-float-gallery .c-float-wrap nav a.next span {
  border-right: 3px solid #999;
  border-top: 3px solid #999;
}
#tbh5v0 .c-float-gallery .c-float-wrap nav .position {
  position: absolute;
  left: 35px;
  bottom: -25px;
  width: 32px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  color: #999;
  background: rgba(10, 10, 10, 0.68);
}
#tbh5v0 .c-float-gallery .c-float-wrap nav .position .active {
  color: white;
}
#tbh5v0 .c-float-gallery.gfullscreen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 500px;
  background: rgba(25, 25, 25, 0.92);
  opacity: 1;
}
#tbh5v0 .c-float-gallery.gfullscreen .ctrlBtn {
  display: block;
}
#tbh5v0 .c-float-gallery.gfullscreen .c-float-slide li {
  text-align: center;
}
#tbh5v0 .c-float-gallery.gfullscreen .c-float-slide img {
  max-width: 300px;
  max-height: 300px;
}
#tbh5v0 .c-float-gallery.gfullscreen .c-float-wrap nav a {
  z-index: 99;
  top: 50%;
}
#tbh5v0 .c-float-gallery.gfullscreen nav .position {
  width: 60px;
  font-size: 14px;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  color: #999;
  text-align: center;
  background: none;
}
#tbh5v0 .c-float-delPop {
  position: relative;
  background-color: rgba(95, 95, 95, 0.6);
  height: 50px;
}
#tbh5v0 .c-float-delPop .deltxt {
  position: absolute;
  right: 20px;
  height: 50px;
  line-height: 50px;
  color: white;
  font-weight: bold;
}
#tbh5v0 header div.c-inav section a {
  display: inline-block;
}
#tbh5v0 header div.c-inav section:first-child {
  min-width: 76px;
}
#tbh5v0 .innercontent {
  margin: 20px auto;
  width: 280px;
}
#tbh5v0 .innercontent label.title { color:#F90}
#tbh5v0 .innercontent input.c-f-text {
  width: 100% !important;
  padding-left: 26px !important;
  -webkit-box-sizing: border-box;
  text-indent: 0;
}
#tbh5v0 .innercontent .c-f-text::-webkit-input-placeholder {
  color: #ccc;
  font-size: 16px;
}
#tbh5v0 .innercontent .c-form .check-code-img {
  cursor: pointer;
}
#tbh5v0 .innercontent fieldset {
  border: none;
}
#tbh5v0 .innercontent .field {
  padding: 5px 0;
}
#tbh5v0 .innercontent .field .c-form-search {
  display: block;
}
#tbh5v0 .innercontent .err input {
  border: 2px solid red;
}
#tbh5v0 .innercontent .err .tips {
  color: red;
}
#tbh5v0 .innercontent .success .tips {
  display: none;
}
#tbh5v0 .innercontent .st {
  position: relative;
}
#tbh5v0 .innercontent .st:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
}
#tbh5v0 .innercontent .success .st:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 2px;
  width: 25px;
  height: 25px;
}
#tbh5v0 .innercontent .st:before,
#tbh5v0 .innercontent .success .st:after,
#tbh5v0 .innercontent .eyes {
  background: url(../img/login2.png) no-repeat;
  background-size: 56px;
}
#tbh5v0 .innercontent .no .st:before {
  background:none
}
#tbh5v0 .innercontent .username .st:before {
  background-position: 7px 10px;
}
#tbh5v0 .innercontent .else .st:before {
  background-position: -18px -17px;
}
#tbh5v0 .innercontent .email .st:before {
  background-position: -18px 14px;
}
#tbh5v0 .innercontent .phone .st:before {
  background-position: 7px -17px;
}
#tbh5v0 .innercontent .pwd .st:before {
  background-position: 7px -45px;
}
#tbh5v0 .innercontent .success .st:after {
  background-position: 0px -73px;
}
#tbh5v0 .innercontent .eyes.off {
  background-position: 0px -98px;
}
#tbh5v0 .innercontent .eyes.on {
  background-position: 0px -128px;
}
#tbh5v0 .innercontent .identifyCode .c-form-search {
  display: -webkit-box;
}
#tbh5v0 .innercontent .identifyCode .codeTxt {
  -webkit-box-flex: 1;
}
#tbh5v0 .innercontent .identifyCode .codePhoto {
  margin-left: 10px;
  background: #fff;
  text-align: center;
}
#tbh5v0 .innercontent .identifyCode input {
  text-indent: 0px;
}
#tbh5v0 .innercontent .pwd .ptxt {
  position: relative;
}
#tbh5v0 .innercontent .pwd .eyes {
  position: absolute;
  top: 0;
  right: -1px;
  width: 65px;
  height: 37px;
}
#tbh5v0 .innercontent .tips {
  font-size: 12px;
  color: #999;
  margin: 5px 0 5px 0;
}
#tbh5v0 .innercontent .tips span { color:#F00}
#tbh5v0 .innercontent .tips a { color:#69F}
#tbh5v0 .innercontent .tips a.big { font-size:14px; width:120px; background:#8FC31F; height:30px; line-height:30px; text-align:center; color:#FFFFFF; display:block;}
#tbh5v0 .innercontent .getCode {
  text-align: center;
}
#tbh5v0 .innercontent .getCode .getP {
  display: inline-block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  border: 1px solid #ddd;
  background: -webkit-gradient(linear, center top, center bottom, from(#f9f9f9), to(#eeeeee));
  margin: 10px 0;
}
#tbh5v0 .innercontent .getCode .disabled {
  color: #ccc;
}
#tbh5v0 .innercontent .c-btn-orange {
  width: 100%;
  border-radius: 2px;
  height: 45px;
  font-size: 24px;
  font-weight: blod;
  text-shadow: 0 -1px 0 #441307;
}
#tbh5v0 .innercontent .tips-act {
  font-size: 16px;
  padding: 20px 0;
  line-height: 25px;
}
#tbh5v0 .innercontent .tips-title {
  font-size: 24px;
  padding: 20px 0;
  text-align: center;
}