 /*翻页*/
   .pagebar{height:30px; float:right;color:#5f6565;}
   .pagebar img{position:relative; top:2px;}
   .pagebar a{display:block; float:left; margin:0 2px; color:#5f6565; text-decoration:none;}
   .pagebar a:hover{color:#c00; text-decoration:none;}
   .pagebar .page_now{display:block; float:left; margin:0 5px; color:#c00; font-weight:bold; background:#fff;}
   #pager a{color:#5f6565; text-decoration:none;}

.pagebar {
	FLOAT: right; HEIGHT: 30px
}
.pagebar IMG {
	POSITION: relative; TOP: 2px
}
.pagebar A {
	FLOAT: left; MARGIN: 0px 2px; TEXT-DECORATION: none; padding-left:7px; padding-right:7px; background:#ffffff; color:#505050; border:#C0C0C0 1px solid;
}
.pagebar A:hover {
	
}
.pagebar .page_now {
	DISPLAY: block; FONT-WEIGHT: bold; FLOAT: left; MARGIN: 0px 5px; background:#B30000; padding-left:7px; padding-right:7px; border:#C0C0C0 1px solid; color:#ffffff;
}