
/* ======商品比较浮动块 ====== */
#compareBox { background:url(images/comparebox.gif) #fff no-repeat;
 width:140px;
 position: absolute;
 right:1px;
 top:200px; padding-top:21px;
}

#compareBox input {
    width:140px; height:26px;
    border:none;
    background:url(images/compareSub.gif) no-repeat; 
}

#compareList {
 padding:0px;
 width:138px;
 background:#FFFFFF;
 border:1px solid #91b3cb; padding-top:5px; border-bottom-color:#FFF;
}

#compareList li {
 color: #333;
 text-align:left;
 background: #eff8ff;
 padding: 3px 5px;
 margin: 0 5px 5px 5px; border:1px solid #dceaf5;
}

#compareList li img {
 float:right;
 padding-top:4px;
}