<!-- $Id: ks_card_list.htm add by wengwenjin 礼品卡列表页 $ -->
{if $full_page}
{include file="pageheader.htm"}
<h1>页码:  {$pages}</h1>
{insert_scripts files="../js/utils.js,listtable.js"}
<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">
{/if}
  <table cellspacing="1" cellpadding="3">
    <tr>
      <th>编号</th>
      <th>礼品卡类型</th>
      <th>礼品卡序号</th>
      <th>礼品卡密码</th>
      <th>创建时间</th>
      <th>使用时间</th>
      <th>操作</th>
    </tr>
    {foreach from=$type_list item=type}
    <tr>
      <td align="center" class="first-cell"><span>{$type.id}</span></td>
      <td align="center">{$type.type_name}</td>
      <td align="center">{$type.card_sn}</td>
      <td align="center">{$type.card_pwd}</td>
      <td align="center">{$type.add_time}</td>
      <td align="center">{if $type.used_time eq '0'}未使用{else}{$type.used_time}{/if}</td>
      <td align="center">{if $type.order_id neq '0'}<a href="ks_card.php?act=order&id={$type.order_id}">订单</a>&nbsp;|&nbsp;{/if}<a href="ks_card.php?act=edit_card_type&cid={$type.id}&tid={$type.type_id}">编辑</a>&nbsp;|&nbsp;<a href="ks_card.php?act=delsn&amp;id={$type.id}&tid={$type.type_id}">作废</a></td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
{if $full_page}
</div>
</form>
<script type="text/javascript" language="javascript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
{/if}