<!-- $Id: ks_card_type.htm add by wengwenjin 礼品卡类型列表页 $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">
{/if}
  <table cellspacing="1" cellpadding="3">
    <tr>
      <th>礼品卡类型</th>
      <th>类型标识</th>
      <th>描述</th>
      <th>可选择数</th>
      <th>发放数量</th>
      <th>使用数量</th>
      <th>操作</th>
    </tr>
    {foreach from=$type_list item=type}
    <tr>
      <td class="first-cell"><span>{$type.cat_name|escape:html}</span></td>
      <td>{$type.cat_mark}</td>
      <td>{$type.cat_desc}</td>
      <td align="right"><span>{$type.cat_sgn}</span></td>
      <td align="right"><span>{$type.all_num}</span></td>
      <td align="right">{$type.ok_num}</td>
      <td align="center"><a href="ks_card.php?act=excel&tid={$type.cat_id}">发放</a>&nbsp;|&nbsp;<a href="ks_card_goods.php?act=goods&tid={$type.cat_id}">添加</a>&nbsp;|&nbsp;<a href="ks_card_goods.php?act=vgoods&tid={$type.cat_id}">商品</a>&nbsp;|&nbsp;<a href="ks_card.php?act=list&amp;tid={$type.cat_id}">卡号</a>&nbsp;|&nbsp;<a href="ks_card.php?act=edit&amp;tid={$type.cat_id}">编辑</a>&nbsp;|&nbsp;<a href="ks_card.php?act=remove&amp;tid={$type.cat_id}">移除</a></td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
{if $full_page}
</div>
</form>
<script type="text/javascript" language="javascript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
{/if}