<!-- $Id: ks_order_list.htm add by wengwenjin 礼品卡订单列表页 $ -->
{if $full_page}
{include file="pageheader.htm"}
<form action="ks_card.php" method="post" name="theForm" enctype="multipart/form-data">
<h1>礼品卡序号:<input type='text' name='keywords' maxlength="30" value="" size='20' /><input type="submit" value="查询" class="button" /></h1>
<input type="hidden" name="act" value="order" />
</form>
{insert_scripts files="../js/utils.js,listtable.js"}
<!-- start ks_order list -->
<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">
{/if}
  <table cellspacing="1" cellpadding="3">
    <tr>
      <th>编号</th>
      <th>订单号</th>
      <th>礼品卡分类</th>
      <th>联系人</th>
      <th>特殊要求备注</th>
      <th>创建时间</th>
      <th>订单状态</th>
      <th>操作</th>
    </tr>
    {foreach from=$type_list item=type}
    <tr>
      <td align="center" class="first-cell"><span>{$type.order_id}</span></td>
      <td align="center">{$type.order_sn}</td>
      <td align="center">{$type.order_goodcatname}</td>
      <td align="center">联系人:{$type.order_user}&nbsp;电话:{$type.order_tel}&nbsp;{$type.order_phone}<br />地址:{$type.order_address}&nbsp;配送时间:{$type.shipping_time}</td>
      <td align="center">{$type.order_bak}</td>
      <td align="center">{$type.order_time}</td>
      <td align="center"><a href="ks_card.php?act=order_status&id={$type.order_id}&stat={$type.order_status}">{if $type.order_status eq 0}正常{elseif $type.order_status eq 1}确认{elseif $type.order_status eq 2}配送{elseif $type.order_status eq 3}完成{/if}</a></td>
      <td align="center"><a href="ks_card.php?act=order_info&id={$type.order_id}">订单详情</a>&nbsp;|&nbsp;<a href="ks_card.php?act=goods&gid={$type.order_goods}">配送商品</a>&nbsp;|&nbsp;<a href="ks_card.php?act=list&id={$type.card_id}">礼品卡</a></td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
    <tr><td align="right" nowrap="true" colspan="8">{include file="page.htm"}</td></tr>
  </table>
{if $full_page}
</div>
</form>
<!-- end ks_order list -->
<script type="text/javascript" language="javascript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
{/if}