<!-- $Id: kt_card_fee.htm add by wengwenjin 修改储值卡价格 $ -->
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
{include file="pageheader.htm"}
<div class="main-div">
<form action="kt_card.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
  <table width="100%">
    <tr>
      <td class="label">初始化储值卡金额</td>
      <td><input type='text' name='card_type' maxlength="30" value="{$card.card_type}" size='20' /></td>
    </tr>
    <tr>
      <td class="label">&nbsp;</td>
      <td>
      <input type="submit" value="修改" class="button" />
      <input type="hidden" name="act" value="{$form_act}" />
      <input type="hidden" name="id" value="{$card.card_id}" />
      </td>
    </tr>
  </table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script type="text/javascript" language="javascript">
<!--
document.forms['theForm'].elements['type_name'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
  validator = new Validator("theForm");
  validator.required("card_type",         "金额为空");
  return validator.passed();
}
onload = function()
{
  {/literal}
  get_value = '{$bonus_arr.send_type}';
  {literal}
  showunit(get_value)
  // 开始检查订单
  startCheckOrder();
}
/* 红包类型按订单金额发放时才填写 */
function gObj(obj)
{
  var theObj;
  if (document.getElementById)
  {
    if (typeof obj=="string") {
      return document.getElementById(obj);
    } else {
      return obj.style;
    }
  }
  return null;
}
function showunit(get_value)
{
  gObj("1").style.display =  (get_value == 2) ? "" : "none";
  document.forms['theForm'].elements['selbtn1'].disabled  = (get_value != 1 && get_value != 2);
  document.forms['theForm'].elements['selbtn2'].disabled  = (get_value != 1 && get_value != 2);
  return;
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
