<!-- $Id: kt_card_list.htm add by wengwenjin 储值卡列表页 $ -->
{if $full_page}
{include file="pageheader.htm"}
<h1>页码:  {$pages}</h1>
{insert_scripts files="../js/utils.js,listtable.js"}
<!-- start bonus_type list -->
<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">
{/if}
  <table cellspacing="1" cellpadding="3">
    <tr>
      <th>编号</th>
      <th>储值卡序号</th>
      <th>储值卡密码</th>
      <th>创建时间</th>
      <th>使用时间</th>
      <th>初始金额</th>
      <th>可用余额</th>
      <th>操作</th>
    </tr>
    {foreach from=$type_list item=type}
    <tr>
      <td align="center" class="first-cell"><span>{$type.card_id}</span></td>
      <td align="center">{$type.card_sn}</td>
      <td align="center">{$type.card_pwd}</td>
      <td align="center">{$type.add_time}</td>
      <td align="center">{if $type.used_time eq '0'}未使用{else}{$type.used_time}{/if}</td>
      <td align="center">{$type.card_type}</td>
      <td align="center">{$type.card_bonus}</td>
      <td align="center"><a href="kt_card.php?act=excel">发放</a>&nbsp;|&nbsp;<a href="kt_card.php?act=edit_fee&id={$type.card_id}">编辑</a>&nbsp;|&nbsp;<a href="kt_card.php?act=delsn&amp;id={$type.card_id}">作废</a></td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
{if $full_page}
</div>
</form>
<!-- end bonus_type list -->
<script type="text/javascript" language="javascript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
{/if}