<!-- $Id $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js,validator.js,selectzone.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="main-div">
<form method="post" action="order.php" name="theForm" onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">退货申请流水号</td>
    <td>{$order_back.back_sn}</td>
  </tr>
  <tr>
    <td class="label">申请人</td>
    <td>{$order_back.user_name}</td>
  </tr>
  <tr>
    <td class="label">申请时间</td>
    <td>{$order_back.add_time}</td>
  </tr>
  <tr>
    <td class="label">订单号</td>
    <td><a href="order.php?act=info&order_id={$order_back.order_id}">{$order_back.order_sn}</a></td>
  </tr>
  <tr>
    <td class="label">退货申请理由</td>
    <td>{$order_back.reason}</td>
  </tr>
  <tr>
    <td class="label">审核状态</td>
    <td>
    	{$order_back.status_name}
    </td>
  </tr>
  <tr>
    <td class="label">发货单号</td>
    <td>
    	{$order_back.invoice_no}
    </td>
  </tr>
  <tr>
    <td class="label">操作备注</td>
    <td>
    	<textarea  name="action_note" cols="60" rows="4"></textarea>
    </td>
  </tr>
  <tr>
  	<td class="label">当前可执行操作：</td>
    <td>
      <!-- {if $order_back.status eq 0 } -->
      <input type="submit" value="审核通过" class="button"  name="agree" />
      <input type="submit" value="审核不通过" class="button" name="reject"  />
      <!-- {/if}  -->
      
      <!-- {if $order_back.status eq 4}  -->
      <input type="button" value="去退货" class="button" onclick="window.location.href='order.php?act=info&order_id={$order_back.order_id}'" />
      <input type="submit" value="完成" class="button" name="return" />
      <!-- {/if}  -->
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$order_back.back_id}" />
    </td>
  </tr>
</table>
</form>
</div>
<script language="JavaScript">
function validate(){
	return true;
}
</script>
{include file="pagefooter.htm"}