<!-- $Id: goods_type_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js,../js/transport.js,../js/region.js"}

<div class="main-div">
  <form action="" method="post" name="theForm" onsubmit="return validate();">
  
  <fieldset style="border:1px solid #DDEEF2">
    <table cellspacing="1" cellpadding="3" width="100%">
      <tr>
        <td class="label">自提点名称:</td>
        <td><input type="text" name="point_name" value="{$pick_up_point.point_name|escape}" size="40" />
        {$lang.require_field}</td>
      </tr>

      <tr>
        <td class="label">自提点地址:</td>
        <td>
          <textarea name="point_addr" rows="5" cols="40">{$pick_up_point.point_addr|escape}</textarea>{$lang.require_field}
        </td>
      </tr>
</table>
</fieldset>

<fieldset style="border:1px solid #DDEEF2">
  <legend style="background:#FFF">区域：</legend>
  <table style="width:600px" align="center">
  <tr>
    <td id="regionCell">
      {foreach from=$regions item=region key=id}
      <input type="checkbox" name="regions[]" value="{$id}" checked="true" /> {$region.name}&nbsp;&nbsp;
      {/foreach}
    </td>
  </tr>
  <tr>
    <td>
        <span  style="vertical-align: top">国家： </span>
        <select name="country" id="selCountries" onchange="region.changed(this, 1, 'selProvinces')" size="10" style="width:80px">
          {foreach from=$countries item=country}
          <option value="{$country.region_id}">{$country.region_name|escape:html}</option>
          {/foreach}
        </select>
        <span  style="vertical-align: top">省份： </span>
        <select name="province" id="selProvinces" onchange="region.changed(this, 2, 'selCities')" size="10" style="width:80px">
          <option value=''>{$lang.select_please}</option>
        </select>
        <span  style="vertical-align: top">城市： </span>
        <select name="city" id="selCities" onchange="region.changed(this, 3, 'selDistricts')" size="10" style="width:80px">
          <option value=''>{$lang.select_please}</option>
        </select>
        <span  style="vertical-align: top">区/县：</span>
        <select name="district" id="selDistricts" size="10" style="width:130px">
          <option value=''>{$lang.select_please}</option>
        </select>
        <span  style="vertical-align: top"><input type="button" value="+" class="button" onclick="addRegion()" /></span>
    </td>
  </tr>
  </table >
</fieldset>
<table >
      <tr align="center">
        <td colspan="2">
          <input type="hidden" name="id" value="{$pick_up_point.point_id}" />
          <input type="submit" value="{$lang.button_submit}" class="button" />
          <input type="reset" value="{$lang.button_reset}" class="button" />
          <input type="hidden" name="act" value="{$form_action}" />
        </td>
      </tr>
    </table>
  </form>
</div>

<script type="text/javascript">

function validate()
{
  return true;
}

/**
 * 添加一个区域
 */
function addRegion()
{
    var selCountry  = document.forms['theForm'].elements['country'];
    var selProvince = document.forms['theForm'].elements['province'];
    var selCity     = document.forms['theForm'].elements['city'];
    var selDistrict = document.forms['theForm'].elements['district'];
    var regionCell  = document.getElementById("regionCell");

    if (selDistrict.selectedIndex > 0)
    {
        regionId = selDistrict.options[selDistrict.selectedIndex].value;
        regionName = selDistrict.options[selDistrict.selectedIndex].text;
    }
    else
    {
        if (selCity.selectedIndex > 0)
        {
            regionId = selCity.options[selCity.selectedIndex].value;
            regionName = selCity.options[selCity.selectedIndex].text;
        }
        else
        {
            if (selProvince.selectedIndex > 0)
            {
                regionId = selProvince.options[selProvince.selectedIndex].value;
                regionName = selProvince.options[selProvince.selectedIndex].text;
            }
            else
            {
                if (selCountry.selectedIndex >= 0)
                {
                    regionId = selCountry.options[selCountry.selectedIndex].value;
                    regionName = selCountry.options[selCountry.selectedIndex].text;
                }
                else
                {
                    return;
                }
            }
        }
    }

    // 检查该地区是否已经存在
    exists = false;
    for (i = 0; i < document.forms['theForm'].elements.length; i++)
    {
      if (document.forms['theForm'].elements[i].type=="checkbox")
      {
        if (document.forms['theForm'].elements[i].value == regionId)
        {
          exists = true;
          alert(region_exists);
        }
      }
    }
    // 创建checkbox
    if (!exists)
    {
      regionCell.innerHTML += "<input type='checkbox' name='regions[]' value='" + regionId + "' checked='true' /> " + regionName + "&nbsp;&nbsp;";
    }
}

</script>

{include file="pagefooter.htm"}
