<!-- $Id: goods_info.htm 17126 2010-04-23 10:30:26Z liuhui $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,selectzone.js,colorselector.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

{if $warning}
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
  <li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;" >{$warning}</li>
</ul>
{/if}

<!-- start goods form -->
<div class="tab-div">
    <!-- tab bar -->
    <div id="tabbar-div">
      <p>
        <span class="tab-front" id="general-tab">{$lang.tab_general}</span>
        <span class="tab-back" id="gallery-tab">货品相册</span>
      </p>
    </div>

    <!-- tab body -->
    <div id="tabbody-div">
      <form enctype="multipart/form-data" action="goods.php" method="post" name="theForm">
        <!-- 最大文件限制 -->
        <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />
        <!-- 通用信息 -->
        <table width="90%" id="general-table" align="center">
        	<tr>
        		<td class="label">商品信息</td>
	          	<td>{$goods_name}&nbsp;&nbsp;&nbsp;&nbsp;{$goods_sn}</td>
	          </tr>
        	{foreach from=$attribute item=attribute_value key=attribute_key}
        		<tr>
	           		 <td class="label">{$attribute_value.attr_name}</td>
	            <td>
	            	<select name="attr[{$attribute_value.attr_id}]">
			        <option value="">{$lang.select_please}</option>
			        {foreach from=$attribute_value.attr_values item=value}
			        <option {if ($attribute_value.product_attr_value eq $value)} selected="selected" {/if} value="{$value}">{$value}</option>
			        {/foreach}
			        </select>
	            </td>
	            </tr>
		    {/foreach}
    	 
    	 
         <tr>
            <td class="label">{$lang.goods_sn}</td>
            <td>
              	<input type="text" name="product_sn" value="{$product.product_sn}" size="60" />
            </td>
          </tr>
          <tr>
            <td class="label">价格：</td>
            <td>
                <input type="text" name="product_price" value="{$product.product_price}" size="20" />
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.goods_number}</td>
            <td>
                <input type="text" name="product_number" value="{$product.product_number}" size="20" />
            </td>
          </tr>
		  <tr>
            <td class="label">是否默认</td>
            <td><input type="checkbox" name="is_default" value="1" {if $product.is_default eq 1 }checked="checked"{/if} /> </td>
          </tr>	
          <!--仓库库存 start-->
          <tr>
            <td class="label">仓库库存</td>
            <td>
              <table width="100%" id="tbody_goods_store" align="center">
                {foreach from=$products_store_list item=products_store name=products_store}
                <tr>
                  <td>
                     {if $smarty.foreach.products_store.iteration eq 1}
                       <a href="javascript:;" onclick="add_product_store(this)">[+]</a>
                     {else}
                       <a href="javascript:;" onclick="remove_product_store(this)">[-]</a>
                     {/if}
                     	仓库 
                     	<select name="goods_storerooms[]">
				       	 	<option value="">{$lang.select_please}</option>
					        {foreach from=$storerooms item=storeroom key=s_key}
					        <option {if ($s_key eq $products_store.store_id)} selected="selected" {/if} value="{$s_key}">{$storeroom}</option>
					        {/foreach}
				        </select>
                     	库存 <input type="text" name="product_numbers[]" size="8" value="{$products_store.product_number}"/>
                  </td>
                </tr>
                {/foreach}
              </table>
            </td>
          </tr>
          <!--仓库库存 end -->

          <tr>
            <td class="label"><label for="is_promote"><input type="checkbox" id="is_promote" name="is_promote" value="1" {if $product.is_promote}checked="checked"{/if} onclick="handlePromote(this.checked);" /> {$lang.lab_promote_price}</label></td>
            <td id="promote_3"><input type="text" id="promote_1" name="promote_price" value="{$product.promote_price}" size="20" /></td>
          </tr>

          <tr id="promote_4">
            <td class="label" id="promote_5">{$lang.lab_promote_date}</td>
            <td id="promote_6">
              <input name="promote_start_date" type="text" id="promote_start_date" size="24" value='{$product.promote_start_date}' /><input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('promote_start_date', '%Y-%m-%d %H:%M:%S', '24', false, 'selbtn1');" value="{$lang.btn_select}" class="button"/> - <input name="promote_end_date" type="text" id="promote_end_date" size="24" value='{$product.promote_end_date}' /><input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('promote_end_date', '%Y-%m-%d %H:%M:%S', '24', false, 'selbtn2');" value="{$lang.btn_select}" class="button"/>
            </td>
          </tr>
          



        </table>


        

        <table width="90%" id="gallery-table"  align="center" style="display: none;">
          <!-- 图片列表 -->
          <tr>
		      <th colspan="20" scope="col">货号：{$product.product_sn}</th>
		    </tr>
          <tr>
            <td>
              {foreach from=$img_list item=img key=i}
              <div id="gallery_{$img.img_id}" style="float:left; text-align:center; border: 1px solid #DADADA; margin: 4px; padding:2px;">
                <a href="javascript:;" onclick="if (confirm('{$lang.drop_img_confirm}')) dropImg('{$img.img_id}')">[-]</a><br />
                <a href="goods.php?act=show_image&img_url={$img.img_url}" target="_blank">
                <img src="../{if $img.thumb_url}{$img.thumb_url}{else}{$img.img_url}{/if}" {if $thumb_width neq 0}width="{$thumb_width}"{/if} {if $thumb_height neq 0}height="{$thumb_height}"{/if} border="0" />
                </a><br />
                <input type="text" value="{$img.img_desc|escape}" size="15" name="old_img_desc[{$img.img_id}]" />
              </div>
              {/foreach}
            </td>
          </tr>
          <tr><td>&nbsp;</td></tr>
          <!--  -->
		
		  <!--批量上传相册_start By www.68ecshop.com-->
		 <!--  <tr><td><input type="button" onclick="location.href='swfupload.php?goods_id={$goods.goods_id}' " value="批量上传商品相册" ></td></tr>
		  <tr><td>&nbsp;</td></tr> -->
		  <!--批量上传相册_end By www.68ecshop.com-->

          <tr>
            <td>
              <a href="javascript:;" onclick="addImg(this)">[+]</a>
              {$lang.img_desc} <input type="text" name="img_desc[]" size="20" />
              {$lang.img_url} <input type="file" name="img_url[]" />
              <input type="text" size="40" value="{$lang.img_file}" style="color:#aaa;" onfocus="if (this.value == '{$lang.img_file}'){this.value='http://';this.style.color='#000';}" name="img_file[]"/>
            </td>
          </tr>
        </table>




        <div class="button-div">
          <input type="hidden" name="goods_id" value="{$goods_id}" />
          <input type="hidden" name="product_id" value="{$product[product_id]}" />
          <input type="submit" value="{$lang.button_submit}" class="button" />
          <input type="reset" value="{$lang.button_reset}" class="button" />
        </div>
        <input type="hidden" name="act" value="{$form_act}" />
      </form>
    </div>
</div>
<!-- end goods form -->
{insert_scripts files="validator.js,tab.js"}

<script type="text/javascript">

$(function(){
handlePromote(document.forms['theForm'].elements['is_promote'].checked);
});

function handlePromote(checked)
{
    document.forms['theForm'].elements['promote_price'].disabled = !checked;
    document.forms['theForm'].elements['selbtn1'].disabled = !checked;
    document.forms['theForm'].elements['selbtn2'].disabled = !checked;
}

/**
 * 新增一仓库库存
 */
function add_product_store(obj)
{
  var src      = obj.parentNode.parentNode;
  var tbl      = document.getElementById('tbody_product_store');

  /*
  var validator  = new Validator('theForm');
  checkVolumeData("0",validator);
  if (!validator.passed())
  {
    return false;
  }
  */

  var row  = tbl.insertRow(tbl.rows.length);
  var cell = row.insertCell(-1);
  cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(add_product_store)(.*)(\[)(\+)/i, "$1remove_product_store$3$4-");

  var goods_storerooms_list = document.getElementsByName("goods_storerooms[]");
  var product_number_list  = document.getElementsByName("product_numbers[]");

  goods_storerooms_list[goods_storerooms_list.length-1].value = "";
  product_number_list[product_number_list.length-1].value   = 0;
}

/**
 * 删除仓库库存
 */
function remove_product_store(obj)
{
  var row = rowindex(obj.parentNode.parentNode);
  var tbl = document.getElementById('tbody_product_store');

  tbl.deleteRow(row);
}



/**
 * 新增一个图片
 */
function addImg(obj)
{
    var src  = obj.parentNode.parentNode;
    var idx  = rowindex(src);
    var tbl  = document.getElementById('gallery-table');
    var row  = tbl.insertRow(idx + 1);
    var cell = row.insertCell(-1);
    cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addImg)(.*)(\[)(\+)/i, "$1removeImg$3$4-");
}

/**
 * 删除图片上传
 */
function removeImg(obj)
{
    var row = rowindex(obj.parentNode.parentNode);
    var tbl = document.getElementById('gallery-table');

    tbl.deleteRow(row);
}

/**
 * 删除图片
 */
function dropImg(imgId)
{
  Ajax.call('goods.php?is_ajax=1&act=drop_product_image', "img_id="+imgId, dropImgResponse, "GET", "JSON");
}

function dropImgResponse(result)
{
    if (result.error == 0)
    {
        document.getElementById('gallery_' + result.content).style.display = 'none';
    }
}

</script>

{include file="pagefooter.htm"}
