@charset "utf-8";
/* CSS Document */
.wdxrd_jkxx_btdy{width:170px; height:42px; line-height:42px; float:left; font-size:14px; text-align:right; padding-right:20px;}
.wdxrd_jkxx_01{width:720px; margin:auto; font-size:16px; height:32px; line-height:32px; padding:20px 0 20px 0; color:#000;}
.wdxrd_jkxx_sp02{width:500px; height:42px; line-height:42px; float:left; font-size:14px; display:block;}
.wdxrd_jkxx_sp02 input{width:450px; height:26px; border:1px solid #ddd; margin-top:5px; padding:3px;}
.wdxrd_jkxx_spjl{ font-size:14px; margin:0 10px 0 0;}
a.wdxrd_jkxx_lj{ font-size:14px; color:#3ea7ec; text-decoration:none;}
a.wdxrd_jkxx_lj:hover{ font-size:14px; color:#3ea7ec; text-decoration:underline;}

.wdxrd_jkxx_sp03{width:500px;  float:left; font-size:14px; display:block;}

.wdxrd_jkxx_ser{width:240px; height:26px;  margin-top:7px; border:1px solid #ddd; color:#555;}
.wdxrd_jkxx_jcwz{ font-weight:bold;}
.wdxrd_jkxx_wbqy{width:450px; height:120px; margin-top:10px; line-height:24px; font-size:14px;  color:#555; border:1px solid #ddd; padding:8px; }

.wdxrd_jkxx_anwaik{width:100px; margin:auto; margin:30px 0 20px 170px;}

.zhmm_bsd{width:1022px; background:#FFF; border:1px solid #ddd; float:left; margin-top:20px; padding-bottom:60px;}
.zhmm_01_bt{width:300px; margin:40px auto 30px; height:40px; line-height:40px; font-size:18px; text-align:center; display:block;}
.zhmm_02_xz{width:450px; margin:20px auto; display:block;}
a.zhmm_a01{width:153px; height:42px; background:url(../images/xr_dan01.jpg) no-repeat;  display:inline-block; font-size:16px; text-align:center; line-height:42px; color:#FFF; text-decoration:none; margin-left:40px;}
a.zhmm_a01:hover{width:153px; height:42px; background:url(../images/xr_dan02.jpg) no-repeat;  display:inline-block;text-decoration:none;}

.zhmm_yzksru_jz{width:100%; float:left;}
.zhmm_sjyaz{width:400px; margin:auto; padding-top:10px;_padding-top:5px; }
.zhmm_sjyaz_le{width:120px; height:44px; line-height:44px; font-size:14px; display:block; float:left; text-align:right;}
.zhmm_sjyaz_r{width:280px; height:44px; display:block; float:left;}
.zhmm_sjyaz_r input{width:140px; height:26px; line-height:26px; padding:2px; border:1px solid #ddd; margin:6px 0 0 10px; float:left;}
.zhmm_sjyaz img{width:80px; margin-left:5px; float:left;}
a.zhmm_a02{width:110px; height:42px;  font-size:14px; text-align:left; line-height:42px; color:#3ea7ec; text-decoration:none; margin-left:10px; float:left;}
a.zhmm_a02:hover{width:110px; height:42px; display:block;text-decoration:underline;}

.zhmm_an_wk{width:100%; padding-top:20px;_padding-top:none; float:left;}
.zhmm_an_wk02{width:100px; margin:auto; display:block;}


